<% include ../layouts/not-logged/header-open.ejs %>

<!-- Espacios para Agregar CSS's y Scripts -->
<style>
    body.bg-gradient-primary {
        background-image: url(https://mevouappcdn.s3.amazonaws.com/assets/img/pexels-rene-asmussen-2504980.jpg)!important;
        background-size: cover!important;
        background-repeat: no-repeat!important;
    }

    .flex-grow-1.bg-register-image {
        background-image: url(https://mevouappcdn.s3.amazonaws.com/assets/img/Logo_Completo_Only_M_Negro_Circle.svg);
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center;
        border-right: 1px solid #000;
    }

    .shadow-lg {
        box-shadow: 0 0rem 2rem rgba(0,0,0,0.5) !important;
    }
</style>

<% include ../layouts/not-logged/header-close.ejs %>
    
<div class="card shadow-lg o-hidden border-0 my-5">
    <div class="card-body p-0">
        <div class="row">
            <div class="col-lg-5 d-none d-lg-flex">
                <div class="flex-grow-1 bg-register-image"></div>
            </div>
            <div class="col-lg-7">
                <div class="p-5">
                    <div class="text-center">
                        <h4 class="text-dark mb-4">¡Crea una cuenta!</h4>
                    </div>
                    <form class="user">
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input class="form-control form-control-user" type="text" id="firstName" placeholder="Nombre" name="first_name" required>
                            </div>
                            <div class="col-sm-6">
                                <input class="form-control form-control-user" type="text" id="lastName" placeholder="Apellido" name="last_name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-user" type="email" id="inputEmail" aria-describedby="emailHelp" placeholder="Correo Electrónico" name="email" required>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input class="form-control form-control-user" type="password" id="passwordInput" placeholder="Contraseña" name="password" required>
                            </div>
                            <div class="col-sm-6">
                                <input class="form-control form-control-user" type="password" id="repeatPasswordInput" placeholder="Repite la contraseña" name="password_repeat" required>
                            </div>
                        </div>
                        <button id="submit-register" class="btn btn-primary btn-block text-white btn-user" type="button">Registrar cuenta</button>
                        <hr>
                    </form>
                    <div class="text-center"><a class="small" href="/forgot-password">¿Se te olvidó tu contraseña?</a></div>
                    <div class="text-center"><a class="small" href="/login">¿Ya tienes una cuenta? ¡Iniciar sesión!</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
    
<% include ../layouts/not-logged/footer-open.ejs %>

<!-- Espacios para agregar Scripts, Modals,... -->
<script>
    $('#submit-register').click(function(){
        const fname = $('#firstName').val();
        const lname = $('#lastName').val();
        const email = $('#inputEmail').val();
        const pass = $('#passwordInput').val();
        const repass = $('#repeatPasswordInput').val();
        const data = JSON.stringify({
                    nombre: fname,
                    apellido: lname,
                    email: email,
                    password: pass,
                });
        
        if(pass == repass){
            $.ajax({
                method:"POST",
                url: "/api/v1/users/register",
                contentType: 'application/json',
                dataType: 'json',
                data,
                success: function () {
                    setTimeout(function () {
                        location.href = `/login`
                    }, 1000);
                },
                error: function (a, b, c) {
                    console.log(a, b, c);
                    alert("Tu usuario no a sido creado. Revisar los datos y vuelve a intentarlo.")
                }
            })
        }else{
            alert("La contraseña no coinciden. Intentalo de nuevo.");
        }

    });
</script>

<% include ../layouts/not-logged/footer-close.ejs %>
