<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://www.google.com/recaptcha/api.js"></script>
  <title><%= title %></title>
   <script>
     function onSubmit(token) {
       document.getElementById("demo-form").submit();
     }
   </script>
</head>
<body>
  <h1><%= title %></h1>
  <form action="/recover-password/send" method="post" id="demo-form">
  <input type="hidden" name="email" value="<%= email %>">
  <input type="password" name="password">
  <input type="password" name="repassword">
  <button type="submit"
    class="g-recaptcha"
    data-sitekey="6LelQ8sZAAAAANmH_cG75D159gHw34KF8r8dL7T7"
    data-callback='onSubmit'
    data-action='submit'>Submit</button></form>
</body>
</html>