<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://www.google.com/recaptcha/api.js"></script>
  <title><%= title %>></title>
</head>
<body>
  <h1><%= title %></h1>
    <input type="hidden" id="email" value="<%= email %>">
    <input type="password" id="password">
    <input type="password" id="repassword">
    <button id="enviar_password">Submit</button>
</body>
<script>
  document.getElementById('enviar_password').addEventListener('click', function(e){
    const email = document.getElementById('email').value;
    const password = document.getElementById('password').value;
    const repassword = document.getElementById('repassword').value;

    if (password === repassword) {
      
    } else {
      alert('Las contraseñas escritas no coinciden.')
    }
  })
</script>
</html>