<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Menu (1)</title>
    <meta name="theme-color" content="rgb(255,0,0)">
    <link rel="stylesheet" href="https://mevouappcdn.s3.amazonaws.com/assetsHome/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:300,400,700,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Martel+Sans:300,400,700,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=MedievalSharp">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Reem+Kufi">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900">

    <link rel="stylesheet" href="https://mevouappcdn.s3.amazonaws.com/assetsHome/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="https://mevouappcdn.s3.amazonaws.com/assetsHome/css/Features-Clean.css">
    <link rel="stylesheet" href="https://mevouappcdn.s3.amazonaws.com/assetsHome/css/Footer-Basic.css">
    <link rel="stylesheet" href="https://mevouappcdn.s3.amazonaws.com/assetsHome/css/Highlight-Phone.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.css">
    <link rel="stylesheet" href="https://mevouappcdn.s3.amazonaws.com/assetsHome/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="https://mevouappcdn.s3.amazonaws.com/assetsHome/css/m.css">
    <link rel="stylesheet" href="https://mevouappcdn.s3.amazonaws.com/assetsHome/css/menu-styles-params.css">
    <link rel="stylesheet" href="https://mevouappcdn.s3.amazonaws.com/assetsHome/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="https://mevouappcdn.s3.amazonaws.com/assetsHome/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="https://mevouappcdn.s3.amazonaws.com/assetsHome/css/styles.css">