</head>

<body>
    <header>
        <nav class="navbar navbar-light fixed-bottom text-left navigation-clean-button m-nav" id="m-nav">
            <div class="container">
                <button data-toggle="collapse" class="navbar-toggler" data-target="#nav-menu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon">
                        <i class="fas fa-bars"></i>Categorías
                    </span>
                </button>
                <div class="collapse navbar-collapse"
                    id="nav-menu">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link" href="#tab-2" role="tab" data-toggle="tab">Desayunos</a></li>
                        <li class="nav-item"><a class="nav-link" href="#tab-1" data-toggle="tab" role="tab">Almuerzos</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Cenas</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Bebidas</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main id="menu-platillos">
        <section id="platillos" class="content-platillo">
            <div class="container-fluid">
                <div class="row align-items-start restaurant-content">