<% include ../layouts/dashboard/header-open.ejs %>

<!-- Espacios para Agregar CSS's y Scripts -->
<script src="https://cdn.jsdelivr.net/gh/WangYuLue/image-conversion/build/conversion.js"></script>
<script src="https://cdn.jsdelivr.net/npm/ejs@3/ejs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2/min/moment-with-locales.min.js"></script>

<% include ../layouts/dashboard/header-close.ejs %>

<div class="row">
    <div class="col-12 col-md-4">
        <div class="form-group">
            <label>Nombre de categoría</label>
            <input id="categoria_nombre" class="form-control" type="text" placeholder="Mariscos">
        </div>
        <div class="form-group">
            <label>Imagen de categoría</label>
            <input id="categoria_imagen" type="file" accept="image/*" class="w-100">
        </div>
            <div class="form-group">
                <button id="guardar_categoria" class="btn btn-secondary btn-block" type="button">Guardar Cambios</button>
        </div>
        <img id="categoria_imagen_img" src="https://mevouappcdn.s3.amazonaws.com/assets/img/no-disponible.png" class="w-100 d-block" alt="Logo Categoría">
    </div>
    <div class="col-12 col-md-8 platillos-cat">
        <div class="row">
            <div class="col-12 text-center">
                <h2>Platillos</h2>
            </div>
        </div>
        <div class="row pb-2">
            <div class="col-12">
                <a id="crear_platillo" class="btn btn-add-cat" role="button" href="#">
                    <i id="crear_platillo_i" class="fas fa-plus-circle"></i>
                </a>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 platillo-agregado mb-3">
                <div role="tablist" id="accordion_platillos">

                </div>
            </div>
        </div>
    </div>
</div>

<% include ../layouts/dashboard/footer-open.ejs %>

<script>
    const idCategoria = new URLSearchParams(window.location.search).get('categoria');
    var CategoriaAjax = Object({})
    var PlatillosAjax = Array([])
// 
/** Datos del PlatilloCard
 * id
 * Nombre
 * imagen https://mevouappcdn.s3.amazonaws.com/assets/img/no-disponible.png
*/
var PlatilloCard = `
<div class="card">
    <div class="card-header" id="heading<%%= id %>" role="tab">
        <h5 class="mb-0">
            <a class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse_<%%= id %>" aria-expanded="true" aria-controls="collapse_<%%= id %>">
                <%%= nombre %> <i class="fas fa-edit"></i>
            </a>
        </h5>
    </div>
    <div id="collapse_<%%= id %>" class="collapse" aria-labelledby="heading<%%= id %>" data-parent="#accordion_platillos">
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-12 add-plate">
                    <form>
                        <div class="form-row">
                            <div class="col-12 col-md-5">
                                <div class="form-group">
                                    <label>Nombre del platillo</label>
                                    <input class="form-control" value="<%%= nombre %>" type="text">
                                </div>
                                <div class="form-group">
                                    <label>Imagen platillo</label>
                                    <input type="file" class="w-100" id="platillo_imagen_<%%= id %>">
                                </div>
                                <img src="<%%= imagen %>" class="w-100" alt="">
                            </div>
                            <div class="col-12 col-md-7">
                                <div class="form-row">
                                    <div class="col-12">
                                        <label>Precio(s)</label>
                                        <small class="form-text text-muted pt-0 pb-3">
                                            * Selecciona el precio que aparecerá al lado del nombre del platillo
                                        </small>
                                    </div>
                                </div>
                                <div class="form-row align-items-center">
                                    <div class="col-6 pb-2">
                                        <div class="form-group">
                                            <label>Texto del precio</label>
                                            <input class="form-control mb-2" id="precio_nombre_1_<%%= id %>" type="text">
                                        </div>
                                    </div>
                                     <div class="col-4 pb-2">
                                        <div class="form-group">
                                            <label>Precio</label>
                                            <input class="form-control" id="precio_valor_1_<%%= id %>" type="number">
                                        </div>
                                    </div>
                                    <div class="col-2 text-center pb-2">
                                        <div class="form-group">
                                            <label class="d-block">
                                                <i class="fas fa-check-circle"></i>
                                            </label>
                                            <input type="radio" value="0" name="precio_escogido_<%%= id %>" checked="">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row align-items-center">
                                    <div class="col-6 pb-2">
                                        <div class="form-group">
                                            <input class="form-control mb-2" id="precio_nombre_2_<%%= id %>" type="text">
                                        </div>
                                    </div>
                                    <div class="col-4 pb-2">
                                        <div class="form-group">
                                            <input class="form-control" id="precio_valor_2_<%%= id %>" type="number">
                                        </div>
                                    </div>
                                    <div class="col-2 text-center pb-2">
                                        <div class="form-group">
                                            <input type="radio" value="1" name="precio_escogido_<%%= id %>">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row align-items-center">
                                    <div class="col-6 pb-2">
                                        <div class="form-group">
                                            <input class="form-control mb-2" id="precio_nombre_3_<%%= id %>" type="text">
                                        </div>
                                    </div>
                                    <div class="col-4 pb-2">
                                        <div class="form-group">
                                            <input class="form-control" id="precio_valor_3_<%%= id %>" type="number">
                                        </div>
                                    </div>
                                    <div
                                        class="col-2 text-center pb-2">
                                        <div class="form-group">
                                            <input type="radio" value="2" name="precio_escogido_<%%= id %>">
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="form-row align-items-center">
                                    <div class="col-6 pb-2">
                                        <div class="form-group">
                                            <input class="form-control mb-2" id="precio_nombre_4_<%%= id %>" type="text">
                                        </div>
                                    </div>
                                    <div class="col-4 pb-2">
                                        <div class="form-group">
                                            <input class="form-control" id="precio_valor_4_<%%= id %>" type="number">
                                        </div>
                                    </div>
                                    <div class="col-2 text-center pb-2">
                                        <div class="form-group">
                                            <input type="radio" value="3" name="precio_escogido_<%%= id %>">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row align-items-center">
                                    <div class="col-6 pb-2">
                                        <div class="form-group">
                                            <input class="form-control mb-2" id="precio_nombre_5_<%%= id %>" type="text">
                                        </div>
                                    </div>
                                    <div class="col-4 pb-2">
                                        <div class="form-group">
                                            <input class="form-control" id="precio_valor_5_<%%= id %>" type="number">
                                        </div>
                                    </div>
                                    <div class="col-2 text-center pb-2">
                                        <div class="form-group">
                                            <input type="radio" value="4" name="precio_escogido_<%%= id %>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row justify-content-between">
                            <div class="col-12 text-center pb-2">
                                <button class="btn btn-secondary btn-block" type="button">Guardar Cambios</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
`

    // Conseguir Datos de Categoría
    $.ajax({
        method: 'GET',
        url: `/api/v1/categorias/${idCategoria}?projection=-propietario -__v`,
        success: function(categoria) {
            console.log(categoria)
            CategoriaAjax = categoria
            
            $('#categoria_nombre').val(categoria.nombre)
            if (categoria.imagen) {
                $('#categoria_imagen_img').attr('src', categoria.imagen.location)
            }
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr["success"]("Categoria obtenida con éxito.")
        },
        error: function(a, b, c) {
            console.log(a)
            var Errores = 'Hubo un error al conseguir la información';
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "10000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr["error"](Errores)
        }
    })

    // Datos de los Platillos
    $.ajax({
        method: 'GET',
        url: `/api/v1/platillos?filter[Categoria]=${idCategoria}&projection=-propietario -Menu -Categoria -__v`,
        success: function(platillos) {
            console.log(platillos)
            PlatillosAjax = platillos
            for (let p = 0; p < PlatillosAjax.length; p++) {
                let platillo = PlatillosAjax[p];
                if (platillo.imagen == null) {
                    platillo.image = 'https://mevouappcdn.s3.amazonaws.com/assets/img/no-disponible.png'
                }
                platillo.id = platillo._id
                $("#accordion_platillos").append(ejs.render(PlatilloCard, platillo))
            }
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr["success"]("Platillos cargados con éxito.")
        },
        error: function(a, b, c) {
            console.log(a,b,c)
            var Errores = 'Hubo un error al conseguir la información';
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "10000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr["error"](Errores)
        }
    })

    $('#categoria_nombre').keyup(function(e){
        CategoriaAjax.nombre = $(this).val()
        console.log(e.key)
    })
    $('#categoria_nombre').change(function(e){
        CategoriaAjax.nombre = $(this).val()
    })

    $('#categoria_imagen').change(function(){
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        toastr["info"]("Convirtiendo imagen de Categoría.")
        const file = document.getElementById('categoria_imagen').files[0]
        imageConversion.compressAccurately(file, {
            height: "600",
            size: "56"
        }).then(res => {
            toastr["info"]("Subiendo imagen de Categoría.")
            var formData = new FormData();
            formData.append('archivo', res);
            const urlEnvio = `/api/v1/archivos?documento=categoria&parametro=imagen&id=${idCategoria}`
            $.ajax({
                url: urlEnvio,
                type: 'POST',
                data: formData,
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                enctype: 'multipart/form-data',
                success: function (data) {
                    CategoriaAjax.imagen = data
                    toastr.options = {
                        "closeButton": true,
                        "debug": false,
                        "newestOnTop": true,
                        "progressBar": false,
                        "positionClass": "toast-top-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    $('#categoria_imagen_img').attr('src', data.location)
                    toastr["success"]("Imagen subida con éxito.<br>No olvides guardar los cambios.")
                },
                error: function (a, b, c){
                    toastr.options = {
                        "closeButton": true,
                        "debug": false,
                        "newestOnTop": true,
                        "progressBar": false,
                        "positionClass": "toast-top-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    toastr["error"]("Hubo un problema al subir la imagen.<br>Vuelve a intentarlo.")
                    console.error(a, b, c)
                }
            });
        })
    })

    $('#guardar_categoria').click(function (e) {
        $.ajax({
            method: 'PATCH',
            url: `/api/v1/categorias/${idCategoria}`,
            contentType: 'application/json',
            data: JSON.stringify(CategoriaAjax),
            success: function(categoria) {
                console.log(categoria)
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": function(){
                        location.reload()
                    },
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "15000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr["success"](`Categoría actualizada con éxito.<br><b style="color:white;font-size:1.125em"">Haz click aquí para recargar y ver los cambios.</b>`)
            },
            error: function(a, b, c) {
                console.log(a)
                var Errores = 'Hubo un error al guardar los cambios.<br>'
                if (a.responseJSON.codeName == 'DuplicateKey') {
                    Errores += `La URL Personalizada ya existe.<br><b style="color:white">TUS CAMBIOS NO SE HAN GUARDADO.</b>.`
                }
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "10000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr["error"](Errores)
            }
        })
    })

    $('#crear_platillo').click(function(){
        $('#crear_platillo_i').attr('class', 'fas fa-spinner fa-pulse')
        const PlatilloToAjax = {
            Menu: CategoriaAjax.Menu._id,
            Categoria: CategoriaAjax._id,
            nombre: `Platillo ${moment().unix()}`,
            descripcion: 'Vestibulum lacus tincidunt dis dapibus purus donec est turpis commodo mi, varius etiam vel blandit per pellentesque fusce cubilia.',
            imagen: null,
            tags: [],
            precios: [{
                nombre: 'Personal',
                valor: 50.00,
                mostrar: true
            }, {
                nombre: 'Mediano',
                valor: 75.00,
                mostrar: false
            }, {
                nombre: 'Grande',
                valor: 100.00,
                mostrar: false
            }, null, null]
        }
        console.log(PlatilloToAjax)
        $.ajax({
            method: 'POST',
            url: `/api/v1/platillos`,
            contentType: 'application/json',
            data: JSON.stringify(PlatilloToAjax),
            success: function(platillo) {
                console.log(platillo)
                if (platillo.imagen == null) {
                    platillo.image = 'https://mevouappcdn.s3.amazonaws.com/assets/img/no-disponible.png'
                }
                platillo.id = platillo._id
                $("#accordion_platillos").append(ejs.render(PlatilloCard, platillo))
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "15000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                $('#crear_platillo_i').attr('class', 'fas fa-plus-circle')
                toastr["success"](`Platillo Creado con Éxito.<br>No te olvides de modificarlo.`)
            },
            error: function(a, b, c) {
                console.log(a)
                var Errores = 'Hubo un error al guardar los cambios.'
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "10000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                $('#crear_platillo_i').attr('class', 'fas fa-plus-circle')
                toastr["error"](Errores)
            }
        })
    })
</script>

<!-- Espacios para agregar Scripts, Modals,... -->

<% include ../layouts/dashboard/footer-close.ejs %>
