<% include ../layouts/dashboard/header-open.ejs %>

<!-- Espacios para Agregar CSS's y Scripts -->
<script src="https://cdn.jsdelivr.net/gh/WangYuLue/image-conversion/build/conversion.js"></script>
<script src="https://cdn.jsdelivr.net/npm/ejs@3/ejs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2/min/moment-with-locales.min.js"></script>

<% include ../layouts/dashboard/header-close.ejs %>

<div class="row">
    <div class="col-12 col-md-4">
        <div class="row justify-content-end">
            <div class="col-10 text-right">
                <div class="form-group mb-0">
                    <i class="fas fa-info-circle" data-toggle="tooltip"
                        data-placement="right" data-bs-tooltip="c"
                        title="Esta acción eliminará toda la información relacionada a esta categoría: Imagenes, Textos y Platillos"></i>
                    <div class="btn btn-danger" id="del_categoria">Eliminar categoría</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Nombre de categoría</label>
            <input id="categoria_nombre" class="form-control" type="text" placeholder="Mariscos">
        </div>
        <div class="form-group">
            <label>Imagen de categoría</label>
            <input id="categoria_imagen" type="file" accept="image/*" class="w-100">
        </div>
            <div class="form-group">
                <button id="guardar_categoria" class="btn btn-secondary btn-block" type="button">Guardar Cambios</button>
        </div>
        <img id="categoria_imagen_img" src="https://mevouappcdn.s3.amazonaws.com/assets/img/no-disponible.png" class="w-100 d-block" alt="Logo Categoría">
    </div>
    <div class="col-12 col-md-8 platillos-cat">
        <div class="row">
            <div class="col-12 text-center">
                <h2>Platillos</h2>
            </div>
        </div>
        <div class="row pb-2">
            <div class="col-12">
                <a id="crear_platillo" class="btn btn-add-cat" role="button" href="#">
                    <i id="crear_platillo_i" class="fas fa-plus-circle"></i>
                </a>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 platillo-agregado mb-3">
                <div role="tablist" id="accordion_platillos">

                </div>
            </div>
        </div>
    </div>
</div>

<% include ../layouts/dashboard/footer-open.ejs %>

<script>
    const user = <%- JSON.stringify(user) %>;
    const idCategoria = new URLSearchParams(window.location.search).get('categoria');
    
    var CategoriaAjax = Object({})
    var PlatillosAjax = Array([])
    var ImagenPlatillos = Object({})
    var NombresPlatillos = Object({})
    var DescripcionesPlatillos = Object({})
    var PreciosPlatillos = Object({})
    function delPlatillo(id){
        $(`#del_platillo_${id}`).click(function(e){
            var confirm_del = confirm('Está seguro de eliminar este platillo')
            if (confirm_del) {
                $(`#card-platillo-${id}`).remove()
                $.ajax({
                    method: 'DELETE',
                    url: `/api/v1/platillos/${id}`,
                    success: function (platillo) {
                        console.log(platillo)
                        toastr.options = {
                            "closeButton": true,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": false,
                            "positionClass": "toast-top-right",
                            "preventDuplicates": false,
                            "onclick": function () {
                                location.reload()
                            },
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "15000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        }
                        toastr["success"](`Platillo eliminado con éxito.`)
                    },
                    error: function (a, b, c) {
                        console.log(a)
                        var Errores = 'Hubo un error al eliminar el platillo.<br> Vuelve a intentarlo'
                        toastr.options = {
                            "closeButton": true,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": false,
                            "positionClass": "toast-top-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "10000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        }
                        toastr["error"](Errores)
                    }
                })
            }
        })
    }
    
    function GuardarPlatillo(id) {
        $(`#guardar_platillo_${id}`).click(function (e) {
            const platilloId = $(this).attr('data-id-platillo')
            console.log(platilloId)
            console.log(ImagenPlatillos[platilloId])
            console.log(NombresPlatillos[platilloId])
            console.log(PreciosPlatillos[platilloId])
            console.log(DescripcionesPlatillos[platilloId])

            const imagen = ImagenPlatillos[platilloId]
            const nombre = NombresPlatillos[platilloId]
            let precios = PreciosPlatillos[platilloId]
            let descripcion = DescripcionesPlatillos[platilloId]

            for (let iprecio = 0; iprecio < precios.length; iprecio++) {
                if (precios[iprecio] != null) {
                    if (precios[iprecio].nombre == "" && precios[iprecio].valor == "") {
                        precios[iprecio] = null
                    }
                }
            }
            const PlatilloSend = {
                nombre,
                imagen,
                precios,
                descripcion
            }
            $.ajax({
                method: 'PATCH',
                url: `/api/v1/platillos/${platilloId}`,
                contentType: 'application/json',
                data: JSON.stringify(PlatilloSend),
                success: function (platillo) {
                    console.log(platillo)
                    toastr.options = {
                        "closeButton": true,
                        "debug": false,
                        "newestOnTop": true,
                        "progressBar": false,
                        "positionClass": "toast-top-right",
                        "preventDuplicates": false,
                        "onclick": function () {
                            location.reload()
                        },
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "15000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    toastr["success"](`Platillo actualizado con éxito.<br><b style="color:white;font-size:1.125em"">Haz click aquí para recargar y ver los cambios.</b>`)
                },
                error: function (a, b, c) {
                    console.log(a)
                    var Errores = 'Hubo un error al guardar los cambios.<br> Vuelve a intentarlo'
                    toastr.options = {
                        "closeButton": true,
                        "debug": false,
                        "newestOnTop": true,
                        "progressBar": false,
                        "positionClass": "toast-top-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "10000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    toastr["error"](Errores)
                }
            })
        })
    }
    function EditarNombre(id) {
        $(`#nombre_${id}`).bind('change', function (e) {
            const nombre = $(this).val()
            console.log(nombre)
            NombresPlatillos[id] = nombre 
        })
    }
    function EditarDescripcion(id) {
        $(`#descripcion_${id}`).bind('change', function (e) {
            const Descripcion = $(this).val()
            console.log(Descripcion)
            DescripcionesPlatillos[id] = Descripcion
        })
    }
    
    function EditarImagen(id) {
        $(`#platillo_imagen_${id}`).bind('change', function (e) {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr["info"]("Convirtiendo imagen de Platillo.")
            const file = document.getElementById(`platillo_imagen_${id}`).files[0]
            imageConversion.compressAccurately(file, {
                height: "600",
                size: "56"
            }).then(res => {
                toastr["info"]("Subiendo imagen de Patillo.")
                var formData = new FormData();
                formData.append('archivo', res);
                const urlEnvio = `/api/v1/archivos?documento=platillo&parametro=imagen&id=${id}`
                $.ajax({
                    url: urlEnvio,
                    type: 'POST',
                    data: formData,
                    processData: false,  // tell jQuery not to process the data
                    contentType: false,  // tell jQuery not to set contentType
                    enctype: 'multipart/form-data',
                    success: function (data) {
                        toastr.options = {
                            "closeButton": true,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": false,
                            "positionClass": "toast-top-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        }
                        $(`#platillo_imagen_img_${id}`).attr('src', data.location)
                        ImagenPlatillos[id] = data
                        toastr["success"]("Imagen subida con éxito.<br>No olvides guardar los cambios.")
                    },
                    error: function (a, b, c){
                        toastr.options = {
                            "closeButton": true,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": false,
                            "positionClass": "toast-top-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        }
                        toastr["error"]("Hubo un problema al subir la imagen.<br>Vuelve a intentarlo.")
                        console.error(a, b, c)
                    }
                });
            })

        })
    }
    
    function EditarPrecios(id) {
        for (let iPrecio = 0; iPrecio < 5; iPrecio++) {
            $(`#precio_nombre_${(iPrecio + 1)}_${id}`).bind('change', function (e) {
                if (PreciosPlatillos[id][iPrecio] == null) {
                    PreciosPlatillos[id][iPrecio] = {
                        nombre: '',
                        valor: null,
                        mostrar: false
                    }
                }
                const precio_nombre = $(this).val()
                console.log(`#precio_nombre_${(iPrecio + 1)}_${id}`,precio_nombre)
                PreciosPlatillos[id][iPrecio].nombre = precio_nombre
            })
            $(`#precio_valor_${(iPrecio + 1)}_${id}`).bind('change', function (e) {
                if (PreciosPlatillos[id][iPrecio] == null) {
                    PreciosPlatillos[id][iPrecio] = {
                        nombre: '',
                        valor: null,
                        mostrar: false
                    }
                }
                const precio_valor = $(this).val()
                console.log(`#precio_valor_${(iPrecio + 1)}_${id}`,precio_valor)
                PreciosPlatillos[id][iPrecio].valor = Number(precio_valor)

            })
        }
        $(`.precio_escogido_${id}`).bind('change', function(e) {
            document.getElementsByName(`precio_escogido_${id}`).forEach(function (e) {
                if (PreciosPlatillos[id][e.value] == null) {
                    PreciosPlatillos[id][e.value] = {
                        nombre: '',
                        valor: null,
                        mostrar: false
                    }
                }
                PreciosPlatillos[id][e.value].mostrar = e.checked
                console.log(`.precio_escogido_${id}`, e.value, e.checked)
            })
            console.log(PreciosPlatillos[id])
        })
    }
// 
    // Conseguir Datos de Categoría
    $.ajax({
        method: 'GET',
        url: `/api/v1/categorias/${idCategoria}?projection=-propietario -__v`,
        success: function(categoria) {
            console.log(categoria)
            CategoriaAjax = categoria
            
            $('#categoria_nombre').val(categoria.nombre)
            if (categoria.imagen) {
                $('#categoria_imagen_img').attr('src', categoria.imagen.location)
            }
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr["success"]("Categoría obtenida con éxito.")
            // Delete Categoría
            $('#del_categoria').click(function(e){
                var confirm_del = confirm('Está seguro de eliminar esta categoría')
                if (confirm_del) {
                    $.ajax({
                        method: 'DELETE',
                        url: `/api/v1/categorias/${idCategoria}`,
                        success: function (platillo) {
                            console.log(platillo)
                            toastr.options = {
                                "closeButton": true,
                                "debug": false,
                                "newestOnTop": true,
                                "progressBar": false,
                                "positionClass": "toast-top-right",
                                "preventDuplicates": false,
                                "onclick": function () {
                                    location.href = `/editar-menu?id=${CategoriaAjax.Menu._id}/`   
                                },
                                "showDuration": "300",
                                "hideDuration": "1000",
                                "timeOut": "15000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            }
                            toastr["success"](`Categoría eliminada con éxito.`)
                            setTimeout(function(){
                                location.href = `/editar-menu?id=${CategoriaAjax.Menu._id}/`   
                            },2000)
                        },
                        error: function (a, b, c) {
                            console.log(a)
                            var Errores = 'Hubo un error al eliminar la categoría.<br> Vuelve a intentarlo'
                            toastr.options = {
                                "closeButton": true,
                                "debug": false,
                                "newestOnTop": true,
                                "progressBar": false,
                                "positionClass": "toast-top-right",
                                "preventDuplicates": false,
                                "onclick": null,
                                "showDuration": "300",
                                "hideDuration": "1000",
                                "timeOut": "10000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            }
                            toastr["error"](Errores)
                        }
                    })
                }
            })

        },
        error: function(a, b, c) {
            console.log(a)
            var Errores = 'Hubo un error al conseguir la información';
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "10000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr["error"](Errores)
        }
    })

    // Datos de los Platillos
    $.ajax({
        method: 'GET',
        url: `/api/v1/platillos?filter[Categoria]=${idCategoria}&projection=-propietario -Menu -Categoria -__v`,
        success: function(platillos) {
            console.log(platillos)
            PlatillosAjax = platillos
            for (let p = 0; p < PlatillosAjax.length; p++) {
                let platillo = PlatillosAjax[p];
                ImagenPlatillos[String(platillo._id)] = platillo.imagen
                NombresPlatillos[String(platillo._id)] = platillo.nombre
                PreciosPlatillos[String(platillo._id)] = platillo.precios
                DescripcionesPlatillos[String(platillo._id)] = platillo.descripcion
                DescripcionesPlatillos
                if (platillo.imagen == null) {
                    platillo.imagen = {}
                    platillo.imagen.location = 'https://mevouappcdn.s3.amazonaws.com/assets/img/no-disponible.png'
                }
                platillo.id = platillo._id
                $("#accordion_platillos").append(ejs.render(PlatilloCard, platillo))
                GuardarPlatillo(platillo._id)
                EditarImagen(platillo._id)
                EditarNombre(platillo._id)
                EditarDescripcion(platillo._id)
                EditarPrecios(platillo._id)
                delPlatillo(platillo._id)
            }
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr["success"]("Platillos cargados con éxito.")
        },
        error: function(a, b, c) {
            console.log(a,b,c)
            var Errores = 'Hubo un error al conseguir la información';
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "10000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr["error"](Errores)
        }
    })

    $('#categoria_nombre').keyup(function(e){
        CategoriaAjax.nombre = $(this).val()
        console.log(e.key)
    })
    $('#categoria_nombre').change(function(e){
        CategoriaAjax.nombre = $(this).val()
    })

    $('#categoria_imagen').change(function(){
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        toastr["info"]("Convirtiendo imagen de Categoría.")
        const file = document.getElementById('categoria_imagen').files[0]
        imageConversion.compressAccurately(file, {
            height: "600",
            size: "56"
        }).then(res => {
            toastr["info"]("Subiendo imagen de Categoría.")
            var formData = new FormData();
            formData.append('archivo', res);
            const urlEnvio = `/api/v1/archivos?documento=categoria&parametro=imagen&id=${idCategoria}`
            $.ajax({
                url: urlEnvio,
                type: 'POST',
                data: formData,
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                enctype: 'multipart/form-data',
                success: function (data) {
                    CategoriaAjax.imagen = data
                    toastr.options = {
                        "closeButton": true,
                        "debug": false,
                        "newestOnTop": true,
                        "progressBar": false,
                        "positionClass": "toast-top-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    $('#categoria_imagen_img').attr('src', data.location)
                    toastr["success"]("Imagen subida con éxito.<br>No olvides guardar los cambios.")
                },
                error: function (a, b, c){
                    toastr.options = {
                        "closeButton": true,
                        "debug": false,
                        "newestOnTop": true,
                        "progressBar": false,
                        "positionClass": "toast-top-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    toastr["error"]("Hubo un problema al subir la imagen.<br>Vuelve a intentarlo.")
                    console.error(a, b, c)
                }
            });
        })
    })

    $('#guardar_categoria').click(function (e) {
        $.ajax({
            method: 'PATCH',
            url: `/api/v1/categorias/${idCategoria}`,
            contentType: 'application/json',
            data: JSON.stringify(CategoriaAjax),
            success: function(categoria) {
                console.log(categoria)
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": function(){
                        location.reload()
                    },
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "15000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr["success"](`Categoría actualizada con éxito.<br><b style="color:white;font-size:1.125em"">Haz click aquí para recargar y ver los cambios.</b>`)
            },
            error: function(a, b, c) {
                console.log(a)
                var Errores = 'Hubo un error al guardar los cambios.<br>'
                if (a.responseJSON.codeName == 'DuplicateKey') {
                    Errores += `La URL Personalizada ya existe.<br><b style="color:white">TUS CAMBIOS NO SE HAN GUARDADO.</b>.`
                }
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "10000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr["error"](Errores)
            }
        })
    })

    $('#crear_platillo').click(function(){
        $('#crear_platillo_i').attr('class', 'fas fa-spinner fa-pulse')
        const PlatilloToAjax = {
            Menu: CategoriaAjax.Menu._id,
            Categoria: CategoriaAjax._id,
            nombre: `Platillo ${moment().unix()}`,
            descripcion: 'Vestibulum lacus tincidunt dis dapibus purus donec est turpis commodo mi, varius etiam vel blandit per pellentesque fusce cubilia.',
            imagen: null,
            tags: [],
            precios: [{
                nombre: 'Personal',
                valor: 50.00,
                mostrar: true
            }, null, null, null, null]
        }
        console.log(PlatilloToAjax)
        $.ajax({
            method: 'POST',
            url: `/api/v1/platillos`,
            contentType: 'application/json',
            data: JSON.stringify(PlatilloToAjax),
            success: function(platillo) {
                console.log(platillo)

                ImagenPlatillos[String(platillo._id)] = platillo.imagen
                NombresPlatillos[String(platillo._id)] = platillo.nombre
                PreciosPlatillos[String(platillo._id)] = platillo.precios
                DescripcionesPlatillos[String(platillo._id)] = platillo.descripcion

                if (platillo.imagen == null) {
                    platillo.imagen = 'https://mevouappcdn.s3.amazonaws.com/assets/img/no-disponible.png'
                }
                platillo.id = platillo._id
                $("#accordion_platillos").append(ejs.render(PlatilloCard, platillo))
                GuardarPlatillo(platillo._id)
                EditarImagen(platillo._id)
                EditarNombre(platillo._id)
                EditarDescripcion(platillo._id)
                EditarPrecios(platillo._id)
                delPlatillo(platillo._id)

                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "15000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                $('#crear_platillo_i').attr('class', 'fas fa-plus-circle')
                toastr["success"](`Platillo Creado con Éxito.<br>No te olvides de modificarlo.`)
            },
            error: function(a, b, c) {
                console.log(a)
                var Errores = 'Hubo un error al guardar los cambios.'
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "10000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                $('#crear_platillo_i').attr('class', 'fas fa-plus-circle')
                toastr["error"](Errores)
            }
        })
    })

/** Datos del PlatilloCard
 * id
 * Nombre
 * imagen https://mevouappcdn.s3.amazonaws.com/assets/img/no-disponible.png
*/
var PlatilloCard = `
<div class="card" id="card-platillo-<%%= id%>">
    <div class="card-header" id="heading<%%= id %>" role="tab">
        <h5 class="mb-0">
            <a class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse_<%%= id %>" aria-expanded="true" aria-controls="collapse_<%%= id %>">
                <%%= nombre %> <i class="fas fa-edit"></i>
            </a>
        </h5>
    </div>
    <div id="collapse_<%%= id %>" class="collapse" aria-labelledby="heading<%%= id %>" data-parent="#accordion_platillos">
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-12 add-plate">
                    <div class="form-row">
                        <div class="col-12 col-md-5">
                            <div class="form-group mb-0">
                                <div class="btn btn-danger" id="del_platillo_<%%= id %>">Eliminar platillo</div>
                                <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="right" data-bs-tooltip="c" title="Esta acción eliminará toda la información relacionada a este platillo: Imagenes y Textos"></i>
                            </div>
                            <div class="form-group">
                                <label>Nombre del platillo</label>
                                <input class="form-control" value="<%%= nombre %>" type="text" id="nombre_<%%= id %>">
                            </div>
                            <div class="form-group">
                                <label>Imagen platillo</label>
                                <input type="file" class="w-100" id="platillo_imagen_<%%= id %>" data-id-platillo="<%%= id %>">
                            </div>
                            <img src="<%%= imagen.location %>" id="platillo_imagen_img_<%%= id %>"class="w-100" alt="">
                        </div>
                        <div class="col-12 col-md-7">
                            <div class="form-row">
                                <div class="col-12">
                                    <label>Descripción</label>
                                    <textarea class="form-control" rows="5" id="descripcion_<%%= id %>"><%%- descripcion %></textarea>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-12">
                                    <label>Precio(s)</label>
                                    <small class="form-text text-muted pt-0 pb-3">
                                        * Selecciona el precio que aparecerá al lado del nombre del platillo
                                    </small>
                                </div>
                            </div>
                            <div class="form-row align-items-center">
                                <!-- Precio 1 -->
                                <%% var precio1 = Object({})
                                if ( precios[0] ) {
                                    precio1 = precios[0]
                                } else {
                                    precio1 = {
                                        nombre: '',
                                        valor:'',
                                        mostrar: false
                                    }
                                } %>
                                <div class="col-6 pb-2">
                                    <div class="form-group">
                                        <label>Texto del precio</label>
                                        <input class="form-control mb-2" id="precio_nombre_1_<%%= id %>" value="<%%= precio1.nombre %>" type="text">
                                    </div>
                                </div>
                                <div class="col-4 pb-2">
                                    <div class="form-group">
                                        <label>Precio</label>
                                        <input class="form-control" id="precio_valor_1_<%%= id %>" type="number" value="<%%= precio1.valor %>">
                                    </div>
                                </div>
                                <div class="col-2 text-center pb-2">
                                    <div class="form-group">
                                        <label class="d-block">
                                            <i class="fas fa-check-circle"></i>
                                        </label>
                                        <input type="radio" value="0" class="precio_escogido_<%%= id %>" name="precio_escogido_<%%= id %>" <%%- precio1.mostrar == true ? 'checked' : '' %>>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row align-items-center">
                                <!-- Precio 2 -->
                                <%% var precio2 = Object({})
                                if ( precios[1] ) {
                                    precio2 = precios[1]
                                } else {
                                    precio2 = {
                                        nombre: '',
                                        valor:'',
                                        mostrar: false
                                    }
                                } %>
                                <div class="col-6 pb-2">
                                    <div class="form-group">
                                        <input class="form-control mb-2" id="precio_nombre_2_<%%= id %>"  value="<%%= precio2.nombre %>" type="text">
                                    </div>
                                </div>
                                <div class="col-4 pb-2">
                                    <div class="form-group">
                                        <input class="form-control" id="precio_valor_2_<%%= id %>" value="<%%= precio2.valor %>" type="number">
                                    </div>
                                </div>
                                <div class="col-2 text-center pb-2">
                                    <div class="form-group">
                                        <input type="radio" value="1" class="precio_escogido_<%%= id %>" name="precio_escogido_<%%= id %>" <%%- precio2.mostrar == true ? 'checked' : '' %>>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row align-items-center">
                                <!-- Precio 3 -->
                                <%% var precio3 = Object({})
                                if ( precios[2] ) {
                                    precio3 = precios[2]
                                } else {
                                    precio3 = {
                                        nombre: '',
                                        valor:'',
                                        mostrar: false
                                    }
                                } %>
                                <div class="col-6 pb-2">
                                    <div class="form-group">
                                        <input class="form-control mb-2" id="precio_nombre_3_<%%= id %>" value="<%%= precio3.nombre %>" type="text">
                                    </div>
                                </div>
                                <div class="col-4 pb-2">
                                    <div class="form-group">
                                        <input class="form-control" id="precio_valor_3_<%%= id %>" value="<%%= precio3.valor %>" type="number">
                                    </div>
                                </div>
                                <div
                                    class="col-2 text-center pb-2">
                                    <div class="form-group">
                                        <input type="radio" value="2" class="precio_escogido_<%%= id %>" name="precio_escogido_<%%= id %>" <%%- precio3.mostrar == true ? 'checked' : '' %>>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row align-items-center">
                                <!-- Precio 4 -->
                                <%% var precio4 = Object({})
                                if ( precios[3] ) {
                                    precio4 = precios[3]
                                } else {
                                    precio4 = {
                                        nombre: '',
                                        valor:'',
                                        mostrar: false
                                    }
                                } %>
                                <div class="col-6 pb-2">
                                    <div class="form-group">
                                        <input class="form-control mb-2" id="precio_nombre_4_<%%= id %>" value="<%%= precio4.nombre %>" type="text">
                                    </div>
                                </div>
                                <div class="col-4 pb-2">
                                    <div class="form-group">
                                        <input class="form-control" id="precio_valor_4_<%%= id %>" type="number" value="<%%= precio4.valor %>">
                                    </div>
                                </div>
                                <div class="col-2 text-center pb-2">
                                    <div class="form-group">
                                        <input type="radio" value="3" class="precio_escogido_<%%= id %>" name="precio_escogido_<%%= id %>" <%%- precio4.mostrar == true ? 'checked' : '' %>>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row align-items-center">
                                <!-- Precio 4 -->
                                <%% var precio5 = Object({})
                                if ( precios[4] ) {
                                    precio5 = precios[4]
                                } else {
                                    precio5 = {
                                        nombre: '',
                                        valor:'',
                                        mostrar: false
                                    }
                                } %>
                                <div class="col-6 pb-2">
                                    <div class="form-group">
                                        <input class="form-control mb-2" id="precio_nombre_5_<%%= id %>" value="<%%= precio5.nombre %>" type="text">
                                    </div>
                                </div>
                                <div class="col-4 pb-2">
                                    <div class="form-group">
                                        <input class="form-control" id="precio_valor_5_<%%= id %>" type="number" value="<%%= precio5.valor %>">
                                    </div>
                                </div>
                                <div class="col-2 text-center pb-2">
                                    <div class="form-group">
                                        <input type="radio" value="4" class="precio_escogido_<%%= id %>" name="precio_escogido_<%%= id %>" <%%- precio5.mostrar == true ? 'checked' : '' %>>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-row justify-content-between">
                        <div class="col-12 text-center pb-2">
                            <button class="btn btn-secondary btn-block guardar_platillo" id="guardar_platillo_<%%= id %>" data-id-platillo="<%%= id %>" type="button">Guardar Cambios</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
`
</script>

<!-- Espacios para agregar Scripts, Modals,... -->

<% include ../layouts/dashboard/footer-close.ejs %>
