body.bg-gradient-primary {
  background-image: url(/assets/img/pexels-engin-akyurt-1907642.jpg)!important;
  background-size: cover!important;
  background-repeat: no-repeat!important;
}

.flex-grow-1.bg-login-image {
  background-image: url("/assets/img/logo_black_favicon.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  border-right: 1px solid #000;
}

.shadow-lg {
  box-shadow: 0 0rem 2rem rgba(0,0,0,0.5) !important;
}

