<% include ../layouts/not-logged/header-open.ejs %>

<!-- Espacios para Agregar CSS's y Scripts -->
<style>
    body.bg-gradient-primary {
        background-image: url(https://mevouappcdn.s3.amazonaws.com/assets/img/pexels-engin-akyurt-1907642.jpg)!important;
        background-size: cover!important;
        background-repeat: no-repeat!important;
    }

    .flex-grow-1.bg-login-image {
        background-image: url(https://mevouappcdn.s3.amazonaws.com/assets/img/Logo_Completo_Negro.svg);
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center;
        border-right: 1px solid #000;
    }

    .shadow-lg {
        box-shadow: 0 0rem 2rem rgba(0,0,0,0.5) !important;
    }
</style>


<% include ../layouts/not-logged/header-close.ejs %>
    
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-12 col-xl-10">
            <div class="card shadow-lg o-hidden border-0 my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-flex">
                            <div class="flex-grow-1 bg-login-image"></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h4 class="text-dark mb-4">¡Bienvenido de nuevo!</h4>
                                </div>
                                <form class="user">
                                    <div class="form-group">
                                        <input class="form-control form-control-user" type="email" id="inputEmail" aria-describedby="emailHelp" placeholder="Ingresa tu correo electrónico..." name="email" required>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control form-control-user" type="password" id="inputPassword" placeholder="Contraseña" name="password" required>
                                    </div>
                                    
                                    <hr>
                                    <button id="submit-login" class="btn btn-primary btn-block text-white btn-user" type="button">Iniciar Sesión</button>
                                </form>
                                <div class="text-center"><a class="small" href="/forgot-password">¿Se te olvidó tu contraseña?</a></div>
                                <div class="text-center"><a class="small" href="/register">¡Crea una cuenta!</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<% include ../layouts/not-logged/footer-open.ejs %>

<!-- Espacios para agregar Scripts, Modals,... -->
<script>
    $('#submit-login').click(function(){
        const email = $('#inputEmail').val();
        const pass = $('#inputPassword').val();
        const data = JSON.stringify({
                "username": email,
                "password": pass,
            });

        $.ajax({
            method:"POST",
            url: "/api/login",
            contentType: 'application/json',
            dataType: 'json',
            data,
            success: function () {
                setTimeout(function () {
                    location.href = `/dashboard`
                }, 1000);
            },
            error: function (a, b, c) {
                console.log(a, b, c);
                alert("No se a logrado iniciar sesión. Vuelve a intentarlo.")
            }
        })
    });
</script>

<% include ../layouts/not-logged/footer-close.ejs %>