            </div>
          </section>
        </main>
      <footer></footer>
  <script src="https://s3.amazonaws.com/dev.mevouapp.com/assets/js/jquery.min.js"></script>
  <script src="https://s3.amazonaws.com/dev.mevouapp.com/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://s3.amazonaws.com/dev.mevouapp.com/assets/js/captureQR.js"></script>