<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Menu</title>
  <link rel="stylesheet" href="https://s3.amazonaws.com/dev.mevouapp.com/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:300,400,700,900">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Martel+Sans:300,400,700,900">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=MedievalSharp">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900">
  <link rel="stylesheet" href="https://s3.amazonaws.com/dev.mevouapp.com/assets/css/Navigation-with-Button.css">
  <link rel="stylesheet" href="https://s3.amazonaws.com/dev.mevouapp.com/assets/css/styles.css">
