<% include  ../view_distribution/top_1.ejs%>
<% include  ../view_distribution/top_2.ejs%>

<div class="row justify-content-center align-items-center">
  <div class="col text-center p-5">
    <h1>Μενού</h1>
  </div>
</div>
<div class="row justify-content-center align-items-center">
  <div class="col"><video src="" id="qr-lector" autoplay="true"></video></div>
</div>

<% include  ../view_distribution/bot_1.ejs%>
<% include  ../view_distribution/bot_2.ejs%>