<% include  ../layouts/public/header-open.ejs%>
<% include  ../layouts/public/header-close.ejs%>

<section>
  <div class="container">
      <div class="row justify-content-center align-items-center">

          <div class="col-10 col-lg-5 text-center" style="height:400px;" data-aos="fade-right" data-aos-duration="600" data-aos-offset="0" data-aos-delay="250" data-aos-once="true">
              <div id="loadingMessage">
                  <small>
                      🎥 No se puede acceder a la transmisión de video (asegúrese de tener una cámara web habilitada)
                  </small>
              </div>
              <canvas id="qr-lector" hidden style="width:300px;max-width:300px;"></canvas>
              <div id="output" hidden>
                  <div class="row">
                      <div class="col text-center pt-4 pb-5" data-aos="fade" data-aos-duration="650" data-aos-offset="0" data-aos-delay="500" data-aos-once="true">
                          <h4 id="outputMessage">Escanea el código del menú</h4>
                      </div>
                    </div>
                    <div hidden><b>Data:</b> <span id="outputData"></span></div>
                </div>
            </div>
            
        </div>
    </div>
</section>


<section id="somos" class="highlight-phone">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row justify-content-center justify-content-md-start pb-3">
                    <div class="col-6 col-md-2"><img class="img-fluid" src="Logo_Completo_Only_M_Blanco.svg" /></div>
                </div>
                <div class="row">
                    <div class="col">
                        <h1><strong>Μενού App</strong></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <p class="text-white">La plataforma para crear menús interactivos para de brindar a tus clientes, la experiencia más segura, elegante y sencilla para mostrar tus menús.<br /></p>
                    </div>
                </div>
                <div class="row justify-content-center justify-content-md-start">
                    <div class="col-10 col-lg-6"><a class="btn btn-outline-light btn-block" role="button">Registrate ahora</a></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="phone-mockup mt-5 mt-md-0 ml-5 ml-md-0"><img class="device" src="phone.svg" />
                    <div class="screen"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="features" class="features-clean py-5">
    <div class="container-fluid">
        <h2 class="text-center">Menú interactivo personalizable</h2>
        <p class="text-center">Facilidad y elegacia al momento de crear tu menú.</p>
        <div class="row justify-content-center">
            <div class="col-12 col-md-11">
                <div class="row justify-content-center features pb-5">
                    <div class="col-sm-6 col-lg-4 item"><i class="fas fa-sitemap icon"></i>
                        <h3 class="name">Categoriza tus platillos</h3>
                        <p class="description">Asigna categorías al menú, a las cuales asignaras los platillos posteriormente.</p>
                    </div>
                    <div class="col-sm-6 col-lg-4 item"><i class="fas fa-mortar-pestle icon"></i>
                        <h3 class="name">Personaliza tus platillos</h3>
                        <p class="description">Dales nombre, descripción, imagen, precios o precios multiples. </p>
                    </div>
                    <div class="col-sm-6 col-lg-4 item"><i class="fas fa-info-circle icon"></i>
                        <h3 class="name">Modifica la información cuantas veces lo desees</h3>
                        <p class="description">Puedes cambiar el nombre, la descripción, las imágenes, los colores y precios de tu menú cuantas veces quieras, sin recargo.</p>
                    </div>
                    <div class="col-sm-6 col-lg-4 item"><i class="fas fa-palette icon"></i>
                        <h3 class="name">Personaliza tu menú</h3>
                        <p class="description">Dale tu toque personal. Sube tu logo, una imagen principal y personaliza los colores para mostrar la información de tu menú. </p>
                    </div>
                    <div class="col-sm-6 col-lg-4 item"><i class="fas fa-link icon"></i>
                        <h3 class="name">Enlace único personalizable</h3>
                        <p class="description">Personaliza el enlace para compartir con tus clientes o contactos tu menú. Ej. mevouapp.com/m/<strong>MiRestauranteLugar</strong></p>
                    </div>
                    <div class="col-sm-6 col-lg-4 item"><i class="fas fa-folder-plus icon"></i>
                        <h3 class="name">Agrega nuevos menús</h3>
                        <p class="description">Tu cuenta contará con la opción de agregar cuantos menús necesites.</p>
                    </div>
                    <div class="col-sm-6 col-lg-4 item"><i class="fas fa-arrow-alt-circle-up icon"></i>
                        <h3 class="name">Actualización constante</h3>
                        <p class="description">Nuestra comunidad vota para elegir las nuevas características que se avecinan. Se parte de ello.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="prices" class="features-clean py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div>
                    <ul role="tablist" class="nav nav-tabs nav-fill d-xl-flex w-50 mx-auto">
                        <li role="presentation" class="nav-item mb-4 mb-md-0"><a role="tab" data-toggle="tab" class="nav-link active" href="#tab-1">Planes mensuales</a></li>
                        <li role="presentation" class="nav-item"><a role="tab" data-toggle="tab" class="nav-link" href="#tab-2">Planes Anuales</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="tab-1">
                            <div class="row py-5">
                                <div class="col-md-4 pb-3 pb-md-0">
                                    <div class="card">
                                        <div class="card-body py-5">
                                            <div class="row justify-content-center">
                                                <div class="col-12 text-center">
                                                    <h3>Lite</h3>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center pb-4">
                                                <div class="col-12 text-center">
                                                    <h3>Q30 <small>/ mes</small></h3>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-12">
                                                    <ul class="list-group text-center">
                                                        <li class="list-group-item"><span>Hasta 100 Platillos</span></li>
                                                        <li class="list-group-item py-4"><span>Incluye subida de Logo e imagen principal de menú</span></li>
                                                        <li class="list-group-item"><span>12,000 visualizaciones / mes*</span></li>
                                                        <li class="list-group-item"><span>Personalización del menú</span></li>
                                                        <li class="list-group-item"><span>Categorización de platillos</span></li>
                                                        <li class="list-group-item"><span>Enlace personalizado</span></li>
                                                        <li class="list-group-item"><span>Código para incrustar en tu sitio</span></li>
                                                        <li class="list-group-item"><span>Complementos disponibles</span></li>
                                                    </ul><small>* Las transacciones no son acumulables</small></div>
                                            </div>
                                            <div class="row justify-content-center pt-3">
                                                <div class="col-11 col-md-10 text-center"><a class="btn btn-outline-dark btn-block" role="button" href="/register">Registrate</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pb-3 pb-md-0">
                                    <div class="card">
                                        <div class="card-body py-5">
                                            <div class="row justify-content-center">
                                                <div class="col-12 text-center">
                                                    <h3>Plus</h3>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center pb-4">
                                                <div class="col-12 text-center">
                                                    <h3>Q60 <small>/ mes</small></h3>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-12">
                                                    <ul class="list-group text-center">
                                                        <li class="list-group-item"><span>Hasta 200 Platillos</span></li>
                                                        <li class="list-group-item"><span>Límite de 20 imágenes para usar en categoías y platillos + Logo e imagen principal del menú</span></li>
                                                        <li class="list-group-item"><span>12,000 visualizaciones / mes*</span></li>
                                                        <li class="list-group-item"><span>Personalización del menú</span></li>
                                                        <li class="list-group-item"><span>Categorización de platillos</span></li>
                                                        <li class="list-group-item"><span>Enlace personalizado</span></li>
                                                        <li class="list-group-item"><span>Código para incrustar en tu sitio</span></li>
                                                        <li class="list-group-item"><span>Complementos disponibles</span></li>
                                                    </ul><small>* Las transacciones no son acumulables</small></div>
                                            </div>
                                            <div class="row justify-content-center pt-3">
                                                <div class="col-11 col-md-10 text-center"><a class="btn btn-outline-dark btn-block" role="button" href="/register">Registrate</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pb-3 pb-md-0">
                                    <div class="card">
                                        <div class="card-body py-5">
                                            <div class="row justify-content-center">
                                                <div class="col-12 text-center">
                                                    <h3>Pro</h3>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center pb-4">
                                                <div class="col-12 text-center">
                                                    <h3>Q150 <small>/ mes</small></h3>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-12">
                                                    <ul class="list-group text-center">
                                                        <li class="list-group-item"><span>500 Platillos</span></li>
                                                        <li class="list-group-item"><span>Límite de 50 imágenes para usar en categoías y platillos + Logo e imagen principal del menú</span></li>
                                                        <li class="list-group-item"><span>12,000 visualizaciones / mes*</span></li>
                                                        <li class="list-group-item"><span>Personalización del menú</span></li>
                                                        <li class="list-group-item"><span>Categorizacion de platillos</span></li>
                                                        <li class="list-group-item"><span>Enlace personalizado</span></li>
                                                        <li class="list-group-item"><span>Código para incrustar en tu sitio</span></li>
                                                        <li class="list-group-item"><span>Complementos disponibles</span></li>
                                                    </ul><small>* Las transacciones no son acumulables</small></div>
                                            </div>
                                            <div class="row justify-content-center pt-3">
                                                <div class="col-11 col-md-10 text-center"><a class="btn btn-outline-dark btn-block" role="button" href="/register">Registrarte</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab-2">
                            <div class="row py-5">
                                <div class="col-md-4 pb-3 pb-md-0">
                                    <div class="card">
                                        <div class="card-body py-5">
                                            <div class="row justify-content-center">
                                                <div class="col-12 text-center">
                                                    <h3>Lite</h3>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center pb-4">
                                                <div class="col-12 text-center">
                                                    <h3>Q325 <small>/ mes</small></h3>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-12">
                                                    <ul class="list-group text-center">
                                                        <li class="list-group-item"><span>Hasta 100 Platillos</span></li>
                                                        <li class="list-group-item py-4"><span>Incluye subida de Logo e imagen principal de menú</span></li>
                                                        <li class="list-group-item"><span>12,000 visualizaciones / mes*</span></li>
                                                        <li class="list-group-item"><span>Personalización del menú</span></li>
                                                        <li class="list-group-item"><span>Categorización de platillos</span></li>
                                                        <li class="list-group-item"><span>Enlace personalizado</span></li>
                                                        <li class="list-group-item"><span>Código para incrustar en tu sitio</span></li>
                                                        <li class="list-group-item"><span>Complementos disponibles</span></li>
                                                    </ul><small>* Las transacciones no son acumulables</small></div>
                                            </div>
                                            <div class="row justify-content-center pt-3">
                                                <div class="col-11 col-md-10 text-center"><a class="btn btn-outline-dark btn-block" role="button" href="/register">Registrate</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pb-3 pb-md-0">
                                    <div class="card">
                                        <div class="card-body py-5">
                                            <div class="row justify-content-center">
                                                <div class="col-12 text-center">
                                                    <h3>Plus</h3>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center pb-4">
                                                <div class="col-12 text-center">
                                                    <h3>Q650 <small>/ mes</small></h3>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-12">
                                                    <ul class="list-group text-center">
                                                        <li class="list-group-item"><span>Hasta 200 Platillos</span></li>
                                                        <li class="list-group-item"><span>Límite de 20 imágenes para usar en categoías y platillos + Logo e imagen principal del menú</span></li>
                                                        <li class="list-group-item"><span>12,000 visualizaciones / mes*</span></li>
                                                        <li class="list-group-item"><span>Personalización del menú</span></li>
                                                        <li class="list-group-item"><span>Categorización de platillos</span></li>
                                                        <li class="list-group-item"><span>Enlace personalizado</span></li>
                                                        <li class="list-group-item"><span>Código para incrustar en tu sitio</span></li>
                                                        <li class="list-group-item"><span>Complementos disponibles</span></li>
                                                    </ul><small>* Las transacciones no son acumulables</small></div>
                                            </div>
                                            <div class="row justify-content-center pt-3">
                                                <div class="col-11 col-md-10 text-center"><a class="btn btn-outline-dark btn-block" role="button" href="/register">Registrate</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pb-3 pb-md-0">
                                    <div class="card">
                                        <div class="card-body py-5">
                                            <div class="row justify-content-center">
                                                <div class="col-12 text-center">
                                                    <h3>Pro</h3>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center pb-4">
                                                <div class="col-12 text-center">
                                                    <h3>Q1,575 <small>/ mes</small></h3>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-12">
                                                    <ul class="list-group text-center">
                                                        <li class="list-group-item"><span>500 Platillos</span></li>
                                                        <li class="list-group-item"><span>Límite de 50 imágenes para usar en categoías y platillos + Logo e imagen principal del menú</span></li>
                                                        <li class="list-group-item"><span>12,000 visualizaciones / mes*</span></li>
                                                        <li class="list-group-item"><span>Personalización del menú</span></li>
                                                        <li class="list-group-item"><span>Categorizacion de platillos</span></li>
                                                        <li class="list-group-item"><span>Enlace personalizado</span></li>
                                                        <li class="list-group-item"><span>Código para incrustar en tu sitio</span></li>
                                                        <li class="list-group-item"><span>Complementos disponibles</span></li>
                                                    </ul><small>* Las transacciones no son acumulables</small></div>
                                            </div>
                                            <div class="row justify-content-center pt-3">
                                                <div class="col-11 col-md-10 text-center"><a class="btn btn-outline-dark btn-block" role="button" href="/register">Registrarte</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center start-prueba py-4">
            <div class="col-12 col-md-6 text-center text-md-right pb-3 pb-md-0">
                <h4>Inicia tu prueba gratuita de 14 días</h4><small class="pb-3 pb-md-0">*Plan Lite.  |  Tajeta de crédito/débito no requerida.</small></div>
            <div class="col-12 col-md-4"><a class="btn btn-outline-light btn-block" role="button" href="/register">Registrate</a></div>
        </div>
    </div>
</section>
<section id="fqa" class="d-none">
    <div class="container">
        <div class="row p-5">
            <div class="col-12 col-md-4">
                <h2>Preguntas Frecuentes</h2>
            </div>
            <div class="col-12 col-md-8"></div>
        </div>
    </div>
</section>
<% include  ../layouts/public/footer-open.ejs%>

<script src="https://mevouappcdn.s3.amazonaws.com/assetsHome/js/jsQR.js"></script>
<script>
    var sendValidation = false;
    var video = document.createElement("video");
    var canvasElement = document.getElementById("qr-lector");
    var canvas = canvasElement.getContext("2d");
    var loadingMessage = document.getElementById("loadingMessage");
    var outputContainer = document.getElementById("output");
    var outputMessage = document.getElementById("outputMessage");
    var outputData = document.getElementById("outputData");
  
    function drawLine(begin, end, color) {
      canvas.beginPath();
      canvas.moveTo(begin.x, begin.y);
      canvas.lineTo(end.x, end.y);
      canvas.lineWidth = 4;
      canvas.strokeStyle = color;
      canvas.stroke();
    }
  
    // Use facingMode: environment to attemt to get the front camera on phones
    navigator.mediaDevices.getUserMedia({
      video: {
        facingMode: "environment"
      }
    }).then(function (stream) {
      video.srcObject = stream;
      video.setAttribute("playsinline", true); // required to tell iOS safari we don't want fullscreen
      video.play();
      requestAnimationFrame(tick);
    });
  
    function tick() {
      loadingMessage.innerText = "⌛ Cargando video..."
      if (video.readyState === video.HAVE_ENOUGH_DATA) {
        loadingMessage.hidden = true;
        canvasElement.hidden = false;
        outputContainer.hidden = false;
  
        canvasElement.height = video.videoHeight;
        canvasElement.width = video.videoWidth;
        canvas.drawImage(video, 0, 0, canvasElement.width, canvasElement.height);
        var imageData = canvas.getImageData(0, 0, canvasElement.width, canvasElement.height);
        var code = jsQR(imageData.data, imageData.width, imageData.height, {
          inversionAttempts: "dontInvert",
        });
        if (code) {
          drawLine(code.location.topLeftCorner, code.location.topRightCorner, "#FF3B58");
          drawLine(code.location.topRightCorner, code.location.bottomRightCorner, "#FF3B58");
          drawLine(code.location.bottomRightCorner, code.location.bottomLeftCorner, "#FF3B58");
          drawLine(code.location.bottomLeftCorner, code.location.topLeftCorner, "#FF3B58");
          outputMessage.hidden = true;
          outputData.parentElement.hidden = false;
          outputData.innerText = code.data;
          

          if (sendValidation != true && code.data.length > 0) {
            sendValidation = true;
            setTimeout(function(){
                 window.onbeforeunload = function() {
                    window.location.href = document.referrer;
                 }
                location.href = code.data
                setTimeout(function(){
                    sendValidation = false;
                }, 1000)
            },500)
          }
  
        } else {
          outputMessage.hidden = false;
          outputData.parentElement.hidden = true;
        }
      }
      requestAnimationFrame(tick);
    }
</script>

<% include  ../layouts/public/footer-close.ejs%>