<% include  ../layouts/public/header-open.ejs%>
<% include  ../layouts/public/header-close.ejs%>

<section>
  <div class="container">
      <div class="row justify-content-center align-items-center">
          <div class="col-10 col-lg-5" data-aos="fade-right" data-aos-duration="600" data-aos-offset="0" data-aos-delay="250" data-aos-once="true"><video src="" id="qr-lector" autoplay="true"></video></div>
      </div>
      <div class="row">
          <div class="col text-center pt-4 pb-5" data-aos="fade" data-aos-duration="650" data-aos-offset="0" data-aos-delay="500" data-aos-once="true">
              <h4>Escanea el código del menú</h4>
          </div>
      </div>
  </div>
</section>
<section id="somos">
  <div class="container py-5">
      <div class="row justify-content-center pb-3">
          <div class="col-4 col-md-2"><img class="img-fluid" src="https://mevouappcdn.s3.amazonaws.com/assetsHome/img/Logo_Completo_Only_M_Blanco.svg"></div>
      </div>
      <div class="row">
          <div class="col text-center" data-aos="fade" data-aos-duration="600" data-aos-offset="0" data-aos-once="true">
              <h1><strong>Μενού App</strong></h1>
          </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-12 col-lg-8 text-center" data-aos="zoom-in" data-aos-offset="0" data-aos-delay="600" data-aos-once="true">
              <p class="text-center">La plataforma para crear menús interactivos y brindar a tus clientes la experiencia más segura, elegante y sencilla para mostrar tu menú.<br></p>
          </div>
      </div>
  </div>
</section>
<section id="features" class="features-clean py-5">
  <div class="container-fluid">
      <div class="intro">
          <h2 class="text-center">Menú interactivo personalizable</h2>
          <p class="text-center">Facilidad y elegacia al momento de crear tu menú.</p>
      </div>
      <div class="row justify-content-center">
          <div class="col-12 col-md-11">
              <div class="row justify-content-center features pb-5">
                  <div class="col-sm-6 col-lg-4 item" data-aos="fade-right" data-aos-duration="500" data-aos-once="true"><i class="fas fa-sitemap icon"></i>
                      <h3 class="name">Categoriza tus platillos</h3>
                      <p class="description">Asigna categorías al menú, a las cuales asignaras los platillos posteriormente.</p>
                  </div>
                  <div class="col-sm-6 col-lg-4 item" data-aos="fade-right" data-aos-duration="500" data-aos-delay="200" data-aos-once="true"><i class="fas fa-mortar-pestle icon"></i>
                      <h3 class="name">Personaliza tus platillos</h3>
                      <p class="description">Dales nombre, descripción, imagen, precios o precios multiples.&nbsp;</p>
                  </div>
                  <div class="col-sm-6 col-lg-4 item" data-aos="fade-right" data-aos-duration="500" data-aos-delay="400" data-aos-once="true"><i class="fas fa-info-circle icon"></i>
                      <h3 class="name">Modifica la información cuantas veces lo deces</h3>
                      <p class="description">Puedes cambiar el nombre, la descripción, las imágenes, los colores y precios de tu menú cuantas veces quieras, sin recargo.</p>
                  </div>
                  <div class="col-sm-6 col-lg-4 item" data-aos="fade-right" data-aos-duration="500" data-aos-delay="600" data-aos-once="true"><i class="fas fa-palette icon"></i>
                      <h3 class="name">Personaliza tu menú</h3>
                      <p class="description">Dale tu toque personal. Sube tu logo, una imagen principal y personaliza los colores para mostrar la información de tu menú.&nbsp;</p>
                  </div>
                  <div class="col-sm-6 col-lg-4 item" data-aos="fade-right" data-aos-duration="500" data-aos-delay="800" data-aos-once="true"><i class="fas fa-link icon"></i>
                      <h3 class="name">Enlace único personalizable</h3>
                      <p class="description">Personaliza el enlace para compartir con tus clientes o contactos tu menú. Ej. mevouapp.com/m/<strong>MiRestauranteLugar</strong></p>
                  </div>
                  <div class="col-sm-6 col-lg-4 item" data-aos="fade-right" data-aos-duration="500" data-aos-delay="1000" data-aos-once="true"><i class="fas fa-folder-plus icon"></i>
                      <h3 class="name">Agrega nuevos menús</h3>
                      <p class="description">Tu cuenta contará con la opción de agregar cuantos menús necesites.</p>
                  </div>
                  <div class="col-sm-6 col-lg-4 item" data-aos="fade-right" data-aos-duration="500" data-aos-delay="1000" data-aos-once="true"><i class="fas fa-arrow-alt-circle-up icon"></i>
                      <h3 class="name">Actualización constante</h3>
                      <p class="description">Nuestra comunidad vota para elegir las nuevas características que se avecinan. Se parte de ello.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<section id="prices" class="features-clean py-5">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div>
                  <ul class="nav nav-tabs nav-fill" role="tablist">
                      <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1">Planes mensuales</a></li>
                      <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-2">Planes Anuales</a></li>
                  </ul>
                  <div class="tab-content">
                      <div class="tab-pane active" role="tabpanel" id="tab-1">
                          <div class="row py-5">
                              <div class="col-md-4 pb-3 pb-md-0">
                                  <div class="card">
                                      <div class="card-body py-5">
                                          <div class="row justify-content-center pb-4">
                                              <div class="col-12 text-center">
                                                  <h3>Básico</h3>
                                              </div>
                                          </div>
                                          <div class="row justify-content-center">
                                              <div class="col-12 text-center">
                                                  <ul class="list-group">
                                                      <li class="list-group-item"><span>50 Platillos</span></li>
                                                      <li class="list-group-item"><span>Límite de 10 imágenes</span></li>
                                                      <li class="list-group-item"><span>Categorizacion de platillos</span></li>
                                                      <li class="list-group-item"><span>Personalización del menú</span></li>
                                                      <li class="list-group-item"><span>Enlace personalizado</span></li>
                                                  </ul>
                                              </div>
                                          </div>
                                          <div class="row justify-content-center pt-4">
                                              <div class="col-12 text-center">
                                                  <h3>Q75&nbsp;<small>/ mes</small></h3>
                                              </div>
                                          </div>
                                          <div class="row justify-content-center pt-3">
                                              <div class="col-11 col-md-10 text-center"><a class="btn btn-outline-dark btn-block" role="button" href="/register">Registrate</a></div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-4 pb-3 pb-md-0">
                                  <div class="card">
                                      <div class="card-body py-5">
                                          <div class="row justify-content-center pb-4">
                                              <div class="col-12 text-center">
                                                  <h3>Mediano</h3>
                                              </div>
                                          </div>
                                          <div class="row justify-content-center">
                                              <div class="col-12 text-center">
                                                  <ul class="list-group">
                                                      <li class="list-group-item"><span>100 Platillos</span></li>
                                                      <li class="list-group-item"><span>Límite de 25 imágenes</span></li>
                                                      <li class="list-group-item"><span>Categorizacion de platillos</span></li>
                                                      <li class="list-group-item"><span>Personalización del menú</span></li>
                                                      <li class="list-group-item"><span>Enlace personalizado</span></li>
                                                      <li class="list-group-item"><span>Código para incrustar en tu sitio web</span></li>
                                                  </ul>
                                              </div>
                                          </div>
                                          <div class="row justify-content-center pt-4">
                                              <div class="col-12 text-center">
                                                  <h3>Q125&nbsp;<small>/ mes</small></h3>
                                              </div>
                                          </div>
                                          <div class="row justify-content-center pt-3">
                                              <div class="col-11 col-md-10 text-center"><a class="btn btn-outline-dark btn-block" role="button" href="/register">Registrate</a></div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-4 pb-3 pb-md-0">
                                  <div class="card">
                                      <div class="card-body py-5">
                                          <div class="row justify-content-center pb-4">
                                              <div class="col-12 text-center">
                                                  <h3>Personalizado</h3>
                                              </div>
                                          </div>
                                          <div class="row justify-content-center">
                                              <div class="col-12 text-center">
                                                  <ul class="list-group">
                                                      <li class="list-group-item"><span>100 Platillos +</span></li>
                                                      <li class="list-group-item"><span>Límite de 25 imágenes +</span></li>
                                                      <li class="list-group-item"><span>Categorizacion de platillos</span></li>
                                                      <li class="list-group-item"><span>Personalización del menú</span></li>
                                                      <li class="list-group-item"><span>Enlace personalizado</span></li>
                                                      <li class="list-group-item"><span>Código para incrustar en tu sitio web</span></li>
                                                  </ul>
                                              </div>
                                          </div>
                                          <div class="row justify-content-center pt-4">
                                              <div class="col-12 text-center">
                                                  <h3></h3>
                                              </div>
                                          </div>
                                          <div class="row justify-content-center pt-3">
                                              <div class="col-11 col-md-10 text-center"><a class="btn btn-outline-dark btn-block" role="button" href="/register">Cotiza</a></div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="tab-pane" role="tabpanel" id="tab-2">
                          <div class="row py-5">
                              <div class="col-md-4 pb-3 pb-md-0">
                                  <div class="card">
                                      <div class="card-body py-5">
                                          <div class="row justify-content-center pb-4">
                                              <div class="col-12 text-center">
                                                  <h3>Básico</h3>
                                              </div>
                                          </div>
                                          <div class="row justify-content-center">
                                              <div class="col-12 text-center">
                                                  <ul class="list-group">
                                                      <li class="list-group-item"><span>50 Platillos</span></li>
                                                      <li class="list-group-item"><span>Límite de 10 imágenes</span></li>
                                                      <li class="list-group-item"><span>Categorizacion de platillos</span></li>
                                                      <li class="list-group-item"><span>Personalización del menú</span></li>
                                                      <li class="list-group-item"><span>Enlace personalizado</span></li>
                                                  </ul>
                                              </div>
                                          </div>
                                          <div class="row justify-content-center pt-4">
                                              <div class="col-12 text-center">
                                                  <h3>Q750&nbsp;<small>/ año</small></h3>
                                              </div>
                                          </div>
                                          <div class="row justify-content-center pt-3">
                                              <div class="col-11 col-md-10 text-center"><a class="btn btn-outline-dark btn-block" role="button" href="/register">Registrate</a></div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-4 pb-3 pb-md-0">
                                  <div class="card">
                                      <div class="card-body py-5">
                                          <div class="row justify-content-center pb-4">
                                              <div class="col-12 text-center">
                                                  <h3>Mediano</h3>
                                              </div>
                                          </div>
                                          <div class="row justify-content-center">
                                              <div class="col-12 text-center">
                                                  <ul class="list-group">
                                                      <li class="list-group-item"><span>100 Platillos</span></li>
                                                      <li class="list-group-item"><span>Límite de 25 imágenes</span></li>
                                                      <li class="list-group-item"><span>Categorizacion de platillos</span></li>
                                                      <li class="list-group-item"><span>Personalización del menú</span></li>
                                                      <li class="list-group-item"><span>Enlace personalizado</span></li>
                                                      <li class="list-group-item"><span>Código para incrustar en tu sitio web</span></li>
                                                  </ul>
                                              </div>
                                          </div>
                                          <div class="row justify-content-center pt-4">
                                              <div class="col-12 text-center">
                                                  <h3>Q1250&nbsp;<small>/ año</small></h3>
                                              </div>
                                          </div>
                                          <div class="row justify-content-center pt-3">
                                              <div class="col-11 col-md-10 text-center"><a class="btn btn-outline-dark btn-block" role="button" href="/register">Registrate</a></div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-4 pb-3 pb-md-0">
                                  <div class="card">
                                      <div class="card-body py-5">
                                          <div class="row justify-content-center pb-4">
                                              <div class="col-12 text-center">
                                                  <h3>Personalizado</h3>
                                              </div>
                                          </div>
                                          <div class="row justify-content-center">
                                              <div class="col-12 text-center">
                                                  <ul class="list-group">
                                                      <li class="list-group-item"><span>100 Platillos +</span></li>
                                                      <li class="list-group-item"><span>Límite de 25 imágenes +</span></li>
                                                      <li class="list-group-item"><span>Categorizacion de platillos</span></li>
                                                      <li class="list-group-item"><span>Personalización del menú</span></li>
                                                      <li class="list-group-item"><span>Enlace personalizado</span></li>
                                                      <li class="list-group-item"><span>Código para incrustar en tu sitio web</span></li>
                                                  </ul>
                                              </div>
                                          </div>
                                          <div class="row justify-content-center pt-4">
                                              <div class="col-12 text-center">
                                                  <h3></h3>
                                              </div>
                                          </div>
                                          <div class="row justify-content-center pt-3">
                                              <div class="col-11 col-md-10 text-center"><a class="btn btn-outline-dark btn-block" role="button" href="/register">Cotiza</a></div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row justify-content-center align-items-center start-prueba py-4">
          <div class="col-12 col-md-6 text-center text-md-right" data-aos="fade-right" data-aos-duration="600" data-aos-offset="0" data-aos-once="true">
              <h4>Inicia tu prueba gratuita de 14 días</h4><small class="pb-3 pb-md-0">*Tajeta de crédito/débito no requerida.</small></div>
          <div class="col-12 col-md-4" data-aos="fade-down" data-aos-duration="600" data-aos-offset="0" data-aos-once="true"><a class="btn btn-outline-light btn-block" role="button" href="/register">Registrate</a></div>
      </div>
  </div>
</section>

<% include  ../layouts/public/footer-open.ejs%>
<% include  ../layouts/public/footer-close.ejs%>