<% include ../layouts/m/header-open.ejs %>

<!-- Espacios para Agregar CSS's y Scripts -->

<style>
    /* Menu */

    body * {
        font-family: 'Quicksand';
    }

    body,
    #menu-platillos {
        background-color: #ffffff;
    }
    
    #menu-platillos #platillos .descripcion-restaurante {
        padding: 5%;
        text-align: center;
        font-family: 'Montserrat';
        font-size: 0.85em;
        color: #000;
    }

    #menu-platillos #platillos .descripcion-restaurante {
        color: #000;
    }

    #menu-cats {
        background-color: #fff;
        transition: all 0.5s;
    }

    #menu-cats.follow {
        position: fixed;
        top: 0;
        z-index: 10;
        transition: all 0.5s;
    }

    #menu-cats .nav-item .nav-link {
        color: #000;
        background-color: #fcfcfc;
        border: 1px solid #ccc;
        border-radius: 0;
        transition: all 0.35s;
    }

    #menu-cats .nav-item .nav-link.active,
    #menu-cats .nav-item .nav-link:hover,
    #menu-cats .nav-item .nav-link:focus,
    #menu-cats .nav-item .nav-link:active {
        color: #ffffff;
        background-color: #000000;
        border: 1px solid #000000;
        border-radius: 0;
        transition: all 0.35s;
    }

    @media (min-width: 1200px) {
        .restaurant-content {
            display: flex;
        }
    }

    @media (min-width: 1200px) {
        .restaurant-logo-description {
            position: sticky;
            top: 10rem;
            z-index: 1;
            height: 50vh;
        }
    }

    /* #menu-platillos */

    #menu-platillos #platillos .logo-restaurante {
        padding: 5%;
        border-bottom: 2px solid;
    }

    #mevou-logo {
        width: 100%;
        height: 80px;
        max-height: 250px;
        object-fit: contain;
    }

    #menu-platillos .platillos-menu .card {
        border-radius: 0;
    }
    #menu-platillos .platillos-menu .card.card.cat-creado {
        border-radius: 5px;
        border: none;
    }

    #menu-platillos .platillos-menu .card-header {
        padding: 0;
        border-radius: 0;
        background-color: #000000;
    }

    #menu-platillos .platillos-menu .card-header h5>a {
        padding: 0.75rem 1.25rem !important;
        display: block;
        text-decoration: none;
        text-align: justify;
        overflow-wrap: break-word;
    }

    #menu-platillos .platillos-menu .card-header h5>a>p {
        text-align: left !important;
        color: #eeeeee;
        text-align: left;
        overflow-wrap: break-word;
        margin-bottom: 0;
        font-size: 0.95em;
    }

    #menu-platillos .platillos-menu .card-header h5>a>p>span {
        color: #eeeeee;
        text-align: right;
        float: right;
        line-height: 1.5;
    }

    #menu-platillos .platillos-menu .card-body {
        padding: 0;
        background-color: #ffffff;
    }

    #menu-platillos .platillos-menu .card-body .carousel-images .carousel-item img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    #menu-platillos .platillos-menu .card-body .descripcion-platillo p {
        font-size: 0.9em;
        line-height: 1.35;
        margin: 0;
    }

    #menu-platillos .platillos-menu .card-body .descripcion-platillo * {
        color: #000;
    }

    .btn.btn-add-cat:hover i, .btn.btn-add-cat:active i, .btn.btn-add-cat:focus i {
        font-size: 1em;
        transition: all 0.35s;
    }
    
    .card.cat-creado:hover, .card.cat-creado:active, .card.cat-creado:focus {
        cursor: pointer;
        transform: scale(0.9);
        transition: all 0.35s;
    }

    .card.cat-creado {
        width: 100%;
        height: 120px;
        transition: all 0.35s;
    }

    .card.cat-creado > img {
        width: 100%;
        height: 120px;
        object-fit: cover;
        object-position: bottom;
    }

    .card.cat-creado .card-img-overlay h4 {
        color: #fff;
    }

    .card.cat-creado .card-img-overlay {
        background-color: rgba(0,0,0,0.4);
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/ejs@3/ejs.min.js"></script>

<% include ../layouts/m/header-close.ejs %>

<header>
    <nav class="navbar navbar-light fixed-bottom text-left navigation-clean-button m-nav" id="m-nav">
        <div class="container">
            <button data-toggle="collapse" class="navbar-toggler" data-target="#nav-menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon">
                    <i class="fas fa-bars"></i>Categorías
                </span>
            </button>
            <div class="collapse navbar-collapse" id="nav-menu">
                <ul id="mevou-list-categorias" class="nav navbar-nav mr-auto">
                    <!-- Categorías -->
                    <li class="nav-item">
                        <a id="btn-cat-default" class="nav-link" href="#tabpanel-mevou-default" role="tab" data-toggle="tab">Inicio</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main id="menu-platillos">
    <section id="platillos" class="content-platillo">
        <div class="container-fluid">
            <div class="row align-items-start restaurant-content">


                <div class="col-12 col-md-6 restaurant-logo-description">
                    <div class="row logo-restaurante mx-1">
                        <div class="col text-center">
                            <img id="mevou-logo" class="img-fluid" src="">
                        </div>
                    </div>
                    <div class="row align-items-center descripcion-restaurante">
                        <div class="col-12">
                            <p id="mevou-description"></p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <!-- <div class="row img-principal">
                        <div class="col-12 px-0">
                            <img id="mevou-img-principal" class="img-fluid" src="">
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-12 px-0"><div>
                            <div id="mevou-categorias-content" class="tab-content">

                                <!-- Aqui van las categorías -->
                                <div role="tabpanel" class="tab-pane tab-pane-cats active" id="tabpanel-mevou-default">
                                    <div class="row no-gutters cat-name">
                                        <div id class="col">
                                                <img id="mevou-img-principal" class="img-fluid" src="" />
                                            <div class="overlay-cat">
                                                <h3 id="mevou-nombre-menu"></h3>
                                            </div>
                                
                                        </div>
                                    </div>
                                    <div class="row no-gutters">
                                        <div class="col px-0">
                                            <div role="tablist" id="mevou-default-platillos-cats" class="platillos-menu py-3">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
</main>

<% include ../layouts/m/footer-open.ejs %>

<!-- Espacios para agregar Scripts, Modals,... -->
<script>
    var mevou_url = `/api/v1/m/<%-shortname%>`
    var mevou_data = Object({})
    const logo_default = 'https://mevouappcdn.s3.amazonaws.com/assetsHome/img/Logo_Completo_Negro.svg'

    $.ajax({
        method:'GET',
        url:mevou_url,
        success:function(res){
            mevou_data = res
            
            setMenu(res)
            
        },
        error:function(a,b,c){
            console.log(a,b,c)
            alert('No se ha encontrado la información de este menú.')
        },
    })
    const mevou_platillo = `
<div class="card" id="mevou-platillo-<%%= _id %>">
    <div role="tab" class="card-header">
        <h5 class="mb-0" href="#mevou-platillo-<%%= _id %>">
            <a data-toggle="collapse" aria-expanded="false" aria-controls="panel-platillo-<%%= Categoria %> .item-<%%= _id%>" href="#panel-platillo-<%%= Categoria %> .item-<%%= _id%>" menu="mevou-platillo-<%%= _id %>">
                <%% var precio_mostrar = '' 
                    for (let price = 0; price < precios.length; price++) {
                        const precio = precios[price];
                        if(precio != null){
                            if(precio.mostrar){
                                precio_mostrar = precio.valor
                            }
                        }
                    }
                %>
                <p><%%= nombre %><span class="price"> Q <%%= precio_mostrar %></span></p>
            </a>
        </h5>
    </div>
    <div role="tabpanel" data-parent="#panel-platillo-<%%= Categoria %>" class="collapse item-<%%= _id%>">
        <div class="card-body">
            
            <%% if(imagen != null){ %>
                <div class="row no-gutters img-platillo">
                    <div class="col px-0">
                        <img class="img-fluid" src="<%%= imagen.location%>" />
                    </div>
                </div>
            <%% } %>
            <div class="row no-gutters descripcion-platillo p-4">
                <div class="col-12">
                    <p><%%- descripcion %></p>
                </div>
            </div>
            <div class="row no-gutters prices pb-3">
                <%% for (let price = 0; price < precios.length; price++) {%>
                    <%%const precio = precios[price];%>
                    <%%if(precio != null){ %>
                        <div class="col text-center">
                            <h5><strong>Q <%%= precio.valor %></strong></h5>
                            <p><%%=  precio.nombre %></p>
                        </div>
                    <%% }%>
                <%% }%>
        
            </div>
        </div>
    </div>
</div>`
    function setMenu(menu){
        const categorias = menu.Categorias
        const platillos = menu.Platillos
        const li_categorias = `<li class="nav-item"><a id="btn-<%%=_id%>" class="nav-link" href="#tabpanel-<%%=_id%>" role="tab" data-toggle="tab"><%%= nombre %></a></li>`
        // Mostrar categorias en default_inicio
        const cats_show =`
<div id="btn-<%%=_id%>" class="row justify-content-center no-gutters pb-2" data-aos="zoom-in" data-aos-delay="300">
    <div class="col-12">
        <div class="card cat-creado" id="btn-cat-default-<%%= _id%>" href="#tabpanel-<%%=_id%>" role="tab" data-toggle="tab">
            <%% if(imagen != null){ %>
                <img class="card-img w-100 d-block" src="<%%= imagen.location%>" />
            <%% } %>
            <div class="card-img-overlay">
                <h4><%%= nombre %></h4>
            </div>
        </div>
    </div>
</div>`

        // Contenido de los platillos
        const mevou_content = `
<div role="tabpanel" class="tab-pane tab-pane-cats" id="tabpanel-<%%= _id %>">
    <div class="row no-gutters cat-name" style="height:300px;">
        <div class="col">
            <%% if(imagen != null){ %>
                <img class="img-fluid" src="<%%= imagen.location%>" />
            <%% } %>
            <div class="overlay-cat">
                <h3><%%= nombre %></h3>
            </div>

        </div>
    </div>
    <div class="row no-gutters">
        <div class="col px-0">
            <div role="tablist" id="panel-platillo-<%%= _id %>" class="platillos-menu">
                
            </div>
        </div>
    </div>
</div>`

        // Platillos Información

        // Info Menú
        // --> All Menú
        $('#mevou-logo').attr('src', menu.logo != null ? menu.logo.location : logo_default)
        $('#mevou-nombre-menu').html(menu.nombre)
        $('#mevou-description').html(menu.descripcion)
        $('#mevou-img-principal').attr('src', menu.imagen != null ? menu.imagen.location : logo_default)
        
        // Info
        // --> Categorías
        for (let cats = 0; cats < categorias.length; cats++) {
            const categoria = categorias[cats];
            $("#mevou-list-categorias").append(ejs.render(li_categorias, categoria))
            $("#mevou-categorias-content").append(ejs.render(mevou_content, categoria))
            $("#mevou-default-platillos-cats").append(ejs.render(cats_show, categoria))
            // if (cats == 0) {
            //     $(`#tabpanel-${categoria._id}`).addClass('active')
            //     $(`#btn-${categoria._id}`).addClass('active')
            // }
            $(`#btn-${categoria._id}`).click(function(){
                $(".tab-pane-cats").removeClass('active')
                $(`#tabpanel-${categoria._id}`).addClass('active')
                $("#nav-menu").removeClass('show')
            })
            $('#btn-cat-default').click(function(){
                $(".tab-pane-cats").removeClass('active')
                $(`#tabpanel-${categoria._id}`).addClass('active')
                $("#nav-menu").removeClass('show')
            })
            $(`#btn-cat-default-${categoria._id}`).click(function(){
                $(".tab-pane-cats").removeClass('active')
                $(`#tabpanel-${categoria._id}`).addClass('active')
                $("#nav-menu").removeClass('show')
                
                $('.nav-link').removeClass('active')
                $(`#btn-${categoria._id}`).addClass('active')
                
            })
        }
        
        // --> Categorías --> Platillos
        for (let plate = 0; plate < platillos.length; plate++) {
            const platillo = platillos[plate];
            $(`#panel-platillo-${platillo.Categoria}`).append(ejs.render(mevou_platillo, platillo))
        }
        // Add smooth scrolling to all links
        $(".card-header a").on('click', function(event) {
                $('.collapse').removeClass('show');
                    // Make sure this.hash has a value before overriding default behavior
                    if (this.hash !== "") {
                        console.log(this.hash);
                    // Prevent default anchor click behavior
                    event.preventDefault();

                    // Store hash
                    var hash = $(this).attr('menu')
                        console.log(hash);
                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                    $('html, body').animate({
                       scrollTop: $(`#${hash}`).offset().top
                    }, 500, function(){
                
                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;
                    });
                } // End if
        });

        // Styles Colors
        // --> All Menú        
        $('body, #menu-platillos').css('background-color', menu.color_menu_fondo != null ? menu.color_menu_fondo : '#fff')
        $('#menu-platillos #platillos .logo-restaurante').css('border-bottom-color', menu.color_menu_letra != null ? menu.color_menu_letra : '#cbcbcb')
        $('#menu-platillos .descripcion-restaurante').css('color', menu.color_menu_letra != null ? menu.color_menu_letra : '#000')
        
        // --> Tabs
        // --> --> Header
        
        $('#menu-platillos .platillos-menu .card-header, #m-nav.navigation-clean-button, #m-nav #nav-menu').css('background-color', menu.color_plato_nombre_fondo != null ? menu.color_plato_nombre_fondo : '#000')
        $('#menu-platillos .platillos-menu .card-header p, #menu-platillos .platillos-menu .card-header p span, #m-nav.navbar-light .navbar-toggler-icon, #m-nav.navbar-light .navbar-toggler-icon i').css('color', menu.color_plato_nombre_letra != null ? menu.color_plato_nombre_letra : '#eee')
        $('#m-nav.navigation-clean-button.navbar-light .navbar-nav .nav-link, #m-nav.navigation-clean-button.navbar-light .navbar-nav a.active').css('color', menu.color_plato_nombre_letra != null ? menu.color_plato_nombre_letra : '#eee')
        $('#m-nav.navigation-clean-button .navbar-toggler').css('border-color', menu.color_plato_nombre_letra != null ? menu.color_plato_nombre_letra : '#eee')
        $('.nav-link.active').css('border-bottom-color', menu.color_plato_nombre_letra != null ? menu.color_plato_nombre_letra : '#eee')
        
        // --> --> Body
        $('#menu-platillos .platillos-menu .card-body').css('background-color', menu.color_plato_desc_fondo != null ? menu.color_plato_desc_fondo : '#fff')
        $('#menu-platillos .platillos-menu .card-body .descripcion-platillo p, #menu-platillos .platillos-menu .card-body .prices h5, #menu-platillos .platillos-menu .card-body .prices p').css('color', menu.color_plato_desc_letra != null ? menu.color_plato_desc_letra : '#000')

    }


</script>

<% include ../layouts/m/footer-close.ejs %>
