<% include ../layouts/m/header-open.ejs %>

<!-- Espacios para Agregar CSS's y Scripts -->

<style>
    /* Menu */

    body * {
        font-family: 'Quicksand';
    }

    body,
    #menu-platillos {
        background-color: #ffffff;
    }

    #menu-platillos #platillos .descripcion-restaurante {
        padding: 5%;
        text-align: center;
        font-family: 'Montserrat';
        font-size: 0.85em;
        color: #000;
    }

    #menu-platillos #platillos .descripcion-restaurante {
        color: #000;
    }

    #menu-cats {
        background-color: #fff;
        transition: all 0.5s;
    }

    #menu-cats.follow {
        position: fixed;
        top: 0;
        z-index: 10;
        transition: all 0.5s;
    }

    #menu-cats .nav-item .nav-link {
        color: #000;
        background-color: #fcfcfc;
        border: 1px solid #ccc;
        border-radius: 0;
        transition: all 0.35s;
    }

    #menu-cats .nav-item .nav-link.active,
    #menu-cats .nav-item .nav-link:hover,
    #menu-cats .nav-item .nav-link:focus,
    #menu-cats .nav-item .nav-link:active {
        color: #ffffff;
        background-color: #000000;
        border: 1px solid #000000;
        border-radius: 0;
        transition: all 0.35s;
    }

    @media (min-width: 1200px) {
        .restaurant-content {
            display: flex;
        }
    }

    @media (min-width: 1200px) {
        .restaurant-logo-description {
            position: sticky;
            top: 10rem;
            z-index: 1;
            height: 50vh;
        }
    }

    /* #menu-platillos */

    #menu-platillos #platillos .logo-restaurante {
        padding: 5%;
        border-bottom: 2px solid #cbcbcb;
    }

    #mevou-logo {
        width: 100%;
        height: 80px;
        max-height: 250px;
        object-fit: contain;
    }

    #menu-platillos .platillos-menu .card {
        border-radius: 0;
    }

    #menu-platillos .platillos-menu .card-header {
        padding: 0;
        border-radius: 0;
        background-color: #000000;
    }

    #menu-platillos .platillos-menu .card-header h5>a {
        padding: 0.75rem 1.25rem !important;
        display: block;
        text-decoration: none;
        text-align: justify;
        overflow-wrap: break-word;
    }

    #menu-platillos .platillos-menu .card-header h5>a>p {
        text-align: left !important;
        color: #eeeeee;
        text-align: left;
        overflow-wrap: break-word;
        margin-bottom: 0;
        font-size: 0.95em;
    }

    #menu-platillos .platillos-menu .card-header h5>a>p>span {
        color: #eeeeee;
        text-align: right;
        float: right;
        line-height: 1.5;
    }

    #menu-platillos .platillos-menu .card-body {
        padding: 0;
        background-color: #ffffff;
    }

    #menu-platillos .platillos-menu .card-body .carousel-images .carousel-item img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    #menu-platillos .platillos-menu .card-body .descripcion-platillo p {
        font-size: 0.9em;
        line-height: 1.35;
        margin: 0;
    }

    #menu-platillos .platillos-menu .card-body .descripcion-platillo * {
        color: #000;
    }
</style>

<% include ../layouts/m/header-close.ejs %>

<header>
    <nav class="navbar navbar-light fixed-bottom text-left navigation-clean-button m-nav" id="m-nav">
        <div class="container">
            <button data-toggle="collapse" class="navbar-toggler" data-target="#nav-menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon">
                    <i class="fas fa-bars"></i>Categorías
                </span>
            </button>
            <div class="collapse navbar-collapse"
                id="nav-menu">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="#tab-2" role="tab" data-toggle="tab">Desayunos</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main id="menu-platillos">
    <section id="platillos" class="content-platillo">
        <div class="container-fluid">
            <div class="row align-items-start restaurant-content">
                

                <div class="col-12 col-md-6 restaurant-logo-description">
                    <div class="row logo-restaurante mx-1">
                        <div class="col text-center">
                            <img id="mevou-logo" class="img-fluid" src="">
                        </div>
                    </div>
                    <div class="row align-items-center descripcion-restaurante">
                        <div class="col-12">
                            <p id="mevou-description"></p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="row img-principal">
                        <div class="col-12 px-0">
                            <img id="mevou-img-principal" class="img-fluid" src="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 px-0"><div>
                            <div class="tab-content">

                                <div role="tabpanel" class="tab-pane active" id="tab-2">
                                    <div class="row no-gutters cat-name">
                                        <div class="col">

                                            <img class="img-fluid" src="https://mevouappcdn.s3.amazonaws.com/assetsHome/img/pexels-yanuar-putut-widjanarko-2232433.jpg" />
                                            <div class="overlay-cat">
                                                <h3>Desayunos</h3>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row no-gutters">
                                        <div class="col px-0">
                                            <div role="tablist" id="platillos-select-1" class="platillos-menu">
                                                
                                                <div class="card" id="id-platillo-5">
                                                    <div role="tab" class="card-header">
                                                        <h5 class="mb-0" href="#id-platillo-5">
                                                            <a data-toggle="collapse" aria-expanded="false" aria-controls="platillos-select-1 .item-7" href="#platillos-select-1 .item-7" menu="id-platillo-5">
                                                                <p>Sobredosis C<span class="price"> Q 29</span></p>
                                                            </a>
                                                        </h5>
                                                    </div>
                                                    <div role="tabpanel" data-parent="#platillos-select-1" class="collapse item-7">
                                                        <div class="card-body">
                                                            <div class="row no-gutters img-platillo">
                                                                <div class="col px-0"><img class="img-fluid" src="https://mevouappcdn.s3.amazonaws.com/assetsHome/img/pexels-lukas-1352270.jpg" /></div>
                                                            </div>
                                                            <div class="row no-gutters descripcion-platillo p-4">
                                                                <div class="col-12">
                                                                    <p>Antigripal hecho a base de maracuyá, manzana, uvas, jugo de naranja y miel orgánica. Abundante en vitamina C.</p>
                                                                </div>
                                                            </div>
                                                            <div class="row no-gutters prices pb-3">
                                                                <div class="col text-center">
                                                                    <h5><strong>Q25</strong></h5>
                                                                    <p>14 Ozn.</p>
                                                                </div>
                                                                <div class="col text-center">
                                                                    <h5><strong>Q25</strong></h5>
                                                                    <p>14 Ozn.</p>
                                                                </div>
                                                                <div class="col text-center">
                                                                    <h5><strong>Q50</strong></h5>
                                                                    <p>16 Ozn.</p>
                                                                </div>
                                                                <div class="col text-center">
                                                                    <h5><strong>Q50</strong></h5>
                                                                    <p>16 Ozn.</p>
                                                                </div>
                                                                <div class="col text-center">
                                                                    <h5><strong>Q50</strong></h5>
                                                                    <p>24 Ozn.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
</main>

<% include ../layouts/m/footer-open.ejs %>

<!-- Espacios para agregar Scripts, Modals,... -->
<script>
    var mevou_url = `/api/v1/m/<%-shortname%>`
    var mevou_data = Object({})
    const logo_default = 'https://mevouappcdn.s3.amazonaws.com/assetsHome/img/Logo_Completo_Negro.svg'

    $.ajax({
        method:'GET',
        url:mevou_url,
        success:function(res){
            mevou_data = res
            
            setMenu(res)

        },
        error:function(a,b,c){
            console.log(a,b,c)
            alert('No se ha encontrado la información de este menú.')
        },
    })
    function setMenu(menu){
        // Styles Colors
        // --> All Menú
        $('#mevou-logo').attr('src', menu.logo != null ? menu.logo.location : logo_default)
        $('#mevou-description').html(menu.descripcion)
        $('#mevou-img-principal').attr('src', menu.imagen != null ? menu.imagen.location : logo_default)
        
        $('#menu-platillos').css('background-color', menu.color_menu_fondo != null ? menu.color_menu_fondo : '#fff')
        $('#menu-platillos #platillos .logo-restaurante').css('border-color', menu.color_menu_letra != null ? menu.color_menu_letra : '#cbcbcb')
        $('#menu-platillos .descripcion-restaurante').css('color', menu.color_menu_letra != null ? menu.color_menu_letra : '#000')
        
        // --> Tabs
        // --> --> Header
        $('#menu-platillos .platillos-menu .card-header').css('background-color', menu.color_plato_nombre_fondo != null ? menu.color_plato_nombre_fondo : '#000')
        $('#menu-platillos .platillos-menu .card-header p, #menu-platillos .platillos-menu .card-header p span').css('color', menu.color_plato_nombre_letra != null ? menu.color_plato_nombre_letra : '#eee')
        
        // --> --> Body
        $('#menu-platillos .platillos-menu .card-body').css('background-color', menu.color_plato_desc_fondo != null ? menu.color_plato_desc_fondo : '#fff')
        $('#menu-platillos .platillos-menu .card-body .descripcion-platillo p, #menu-platillos .platillos-menu .card-body .prices h5, #menu-platillos .platillos-menu .card-body .prices p').css('color', menu.color_plato_desc_letra != null ? menu.color_plato_desc_letra : '#000')

    }
</script>

<% include ../layouts/m/footer-close.ejs %>
