</main>
<div class="footer-basic">
    <footer>
        <div class="social">
            <a href="#">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#">
                <i class="fab fa-facebook-f"></i>
            </a>
        </div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Terminos y condiciones</a></li>
        </ul>
        <p class="copyright">© 2020 - 2021 Μενού.&nbsp;Todos los derechos reservados.</p>
    </footer>
</div>
<script src="https://mevouappcdn.s3.amazonaws.com/assetsHome/js/jquery.min.js"></script>
<script src="https://mevouappcdn.s3.amazonaws.com/assetsHome/bootstrap/js/bootstrap.min.js"></script>
<script src="https://mevouappcdn.s3.amazonaws.com/assetsHome/js/bs-init.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.js"></script>
<script src="https://mevouappcdn.s3.amazonaws.com/assetsHome/js/captureQR.js"></script>
<script src="https://mevouappcdn.s3.amazonaws.com/assetsHome/js/fixed-menu.js"></script>