</head>

<body>
    <header>
        <nav class="navbar navbar-light navbar-expand fixed-top bg-white navigation-clean-button">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="https://mevouappcdn.s3.amazonaws.com/assetsHome/img/Logo_Completo_Negro.svg">
                </a>
                <button data-toggle="collapse" class="navbar-toggler" data-target="#nav-menu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="nav-menu">
                    <span class="text-right mx-auto navbar-text actions w-100">
                        <a class="login" href="/dashboard">Ingresar</a>
                        <a class="btn btn-light action-button" role="button" href="/register">Regístrate</a>
                    </span>
                </div>
            </div>
        </nav>
    </header>
    <main style="margin-top: 170px;">