<% include ../layouts/dashboard/header-open.ejs %>

<!-- Espacios para Agregar CSS's y Scripts -->
<script src="https://cdn.jsdelivr.net/npm/ejs@3/ejs.min.js"></script>

<style>
    .cat-creado:hover {
        cursor: pointer;
    }
</style>
<% include ../layouts/dashboard/header-close.ejs %>

<div class="row d-flex">
    <div class="col-12 col-md-3 text-center cats-column mb-3 mb-md-0" id="listado_categorias">
        <div class="row">
            <div class="col-12">
                <h3>Categorías</h3>
            </div>
        </div>
        <div class="row pb-2">
            <div class="col-12"><a class="btn btn-add-cat" role="button" href="#" id="crear_categoria"><i class="fas fa-plus-circle"></i></a></div>
        </div>
    </div>
    <div class="col-12 col-md-4 text-center params-menu-column mb-3 mb-md-0">
        <div class="row pt-3 pt-md-0">
            <div class="col-12">
                <h3>Información del Menú</h3>
            </div>
        </div>
        <div class="row pt-3 pt-md-0">
            <div class="col-12 text-center">
                <div class="form-group mb-0"><label><strong>Cantidad de platillos:</strong>
                    <span
                        id="cant_platillos">0</span>&nbsp;<i
                        class="fas fa-info-circle" data-toggle="tooltip"
                        data-placement="right" data-bs-tooltip="a"
                        title="Total de Platillos agregados al Menú."></i></label>
                </div>
                <div class="form-group mb-0"><label><strong>Cantidad de Categorías:</strong>
                    <span
                        id="cant_categorias">0</span>&nbsp;<i
                        class="fas fa-info-circle" data-toggle="tooltip"
                        data-placement="right" data-bs-tooltip="b"
                        title="Total de Categorías agregados al Menú."></i></label>
                </div>
                <div class="form-group mb-0"><label><strong>Visualizaciones Totales:</strong>
                    <span
                        id="cant_visualizaciones">0</span>&nbsp;<i
                        class="fas fa-info-circle" data-toggle="tooltip"
                        data-placement="right" data-bs-tooltip="c"
                        title="Total de Visualizaciones del Menú desde que este se creó."></i></label>
                </div>

            </div>
        </div>
        <hr>
        <div class="row pt-3 pt-md-0">
            <div class="col-12">
                <h3>Personalizar Menú</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form>
                    <div class="form-group text-left">
                        <label>Nombre del menú</label>
                        <input id="menu_nombre" class="form-control" type="text" placeholder="Restaurante El Anzuelo">
                    </div>
                    <div class="form-group text-left">
                        <label>Logo</label>
                        <input id="menu_logo" type="file" class="w-100" accept="image/*">
                    </div>
                    <div class="form-group text-left">
                        <label>Descripción del menú</label>
                        <textarea id="menu_descripcion" class="form-control" rows="5" placeholder="Escribe la descripción de tu menú aquí..."></textarea>
                    </div>
                    <div class="form-group text-left">
                        <label>Imagen Principal</label>
                        <input id="menu_imagen" type="file" class="w-100" accept="image/*">
                    </div>
                    <div class="form-group text-left">
                        <label>Enlace Personalizado<i class="fas fa-info-circle" data-toggle="tooltip" data-bs-tooltip=""
                            title="Personaliza el enlace de este menú para compartir fácilmente. Se pueden usar letras, números, guión (-) y punto (.), y debe ser ÚNICO"></i></label>
                        <input id="menu_shortname" class="form-control"
                            type="text" pattern="[0-9a-z.-]+$"
                            placeholder="Restaurante-El.Anzuelo">
                        <small class="form-text text-muted">mevouapp.com/m/<strong id="menu_shortname_def">Restaurante-El.Anzuelo</strong></small>
                        </div>
                    <div class="form-group text-center mb-0">
                        <label>Colores del menú</label>
                    </div>
                    <div class="colors-params mb-2">
                        <div class="form-row text-left align-items-center">
                            <div class="col-8"><label class="col-form-label">Fondo Principal</label></div>
                            <div class="col-4 text-center"><input id="menu_color_menu_fondo" type="color" value="#FFFFFF"></div>
                        </div>
                        <div class="form-row text-left align-items-center">
                            <div class="col-8"><label class="col-form-label">Letra de Descripción de Menú</label></div>
                            <div class="col-4 text-center"><input id="menu_color_menu_letra" type="color" value="#000000"></div>
                        </div>
                        <hr>
                        <div class="form-row text-left align-items-center">
                            <div class="col-8"><label class="col-form-label">Fondo de Nombre del Platillo</label></div>
                            <div class="col-4 text-center"><input id="menu_color_plato_nombre_fondo" type="color" value="#000000"></div>
                        </div>
                        <div class="form-row text-left align-items-center">
                            <div class="col-8"><label class="col-form-label">Letra de Nombre del Platillo</label></div>
                            <div class="col-4 text-center"><input id="menu_color_plato_nombre_letra" type="color" value="#FFFFFF"></div>
                        </div>
                        <hr>
                        <div class="form-row text-left align-items-center">
                            <div class="col-8"><label class="col-form-label">Letra de Descripción de Platillo</label></div>
                            <div class="col-4 text-center"><input id="menu_color_plato_desc_letra" type="color" value="#000000"></div>
                        </div>
                        <div class="form-row text-left align-items-center">
                            <div class="col-8"><label class="col-form-label">Fondo de Descripción del Platillo</label></div>
                            <div class="col-4 text-center"><input id="menu_color_plato_desc_fondo" type="color" value="#FFFFFF"></div>
                        </div>
                    </div>
                    <div class="form-group text-center mb-0"><button class="btn btn-secondary btn-block" id="guardar_menu" type="button">Guardar Cambios</button></div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-5 menu-dummy menu_color_menu_fondo pb-3 mb-3 mb-md-0">
        <div class="row justify-content-center logo py-3">
            <div class="col-12 text-center">
                <h3 class="menu_color_menu_letra">Vista Previa</h3>
            </div>
        </div>
        <div class="row justify-content-center logo py-3">
            <div class="col-6 col-md-3">
                <img id="menu_logo_img" class="img-fluid" src="https://mevouappcdn.s3.amazonaws.com/assets/img/Logo_Completo_Negro.svg">
            </div>
        </div>
        <div class="row descripcion">
            <div class="col-12 text-center">
                <p class="menu_color_menu_letra">Lorem ipsum dolor sit amet
                    consectetur adipiscing, elit magnis risus dictum eget. Mi
                    cras felis magnis vitae fermentum libero ligula nostra.</p>
            </div>
        </div>
        <div class="row img-principal">
            <div class="col-12">
                <img id="menu_imagen_img" class="img-fluid" src="https://mevouappcdn.s3.amazonaws.com/assets/img/pexels-rene-asmussen-2504980.jpg">
            </div>
        </div>
        <div class="row platillos">
            <div class="col-12">
                <div role="tablist" id="accordion-dummy">
                    <div class="card">
                        <div class="card-header menu_color_plato_nombre_fondo menu_color_plato_nombre_fondo" role="tab">
                            <h5 class="mb-0">
                                <a class="menu_color_plato_nombre_fondo" data-toggle="collapse" aria-expanded="true" aria-controls="accordion-dummy .item-1" href="#accordion-dummy .item-1">
                                    <p class="menu_color_plato_nombre_letra">Nombre de platillo de restaurante nombre largo<span class="menu_color_plato_nombre_letra" style="font-weight: bold;">Q50</span></p>
                                </a>
                            </h5>
                        </div>
                        <div class="collapse show item-1" role="tabpanel" data-parent="#accordion-dummy">
                            <div class="card-body menu_color_plato_desc_fondo">
                                <p class="card-text menu_color_plato_desc_letra">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                <p class="card-text menu_color_plato_desc_letra">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header menu_color_plato_nombre_fondo" role="tab">
                            <h5 class="mb-0">
                                <a class="menu_color_plato_nombre_fondo" data-toggle="collapse" aria-expanded="false" aria-controls="accordion-dummy .item-2" href="#accordion-dummy .item-2">
                                    <p class="menu_color_plato_nombre_letra">Nombre de platillo de restaurante con multiples precios<span class="menu_color_plato_nombre_letra" style="font-weight: bold;">Q50</span></p>
                                </a>
                            </h5>
                        </div>
                        <div class="collapse item-2" role="tabpanel" data-parent="#accordion-dummy">
                            <div class="card-body menu_color_plato_desc_fondo">
                                <p class="card-text menu_color_plato_desc_letra">Descripción del platillo.&nbsp;Lorem ipsum dolor sit amet consectetur adipiscing, elit magnis risus dictum eget. Mi cras felis magnis vitae fermentum libero ligula nostra.</p>
                                <div class="row no-gutters prices pb-3">
                                    <div class="col text-center">
                                        <h5><strong class="menu_color_plato_desc_letra">Q25</strong></h5>
                                        <p class="menu_color_plato_desc_letra">1/2 libra</p>
                                    </div>
                                    <div class="col text-center">
                                        <h5><strong class="menu_color_plato_desc_letra">Q50</strong></h5>
                                        <p class="menu_color_plato_desc_letra">1 libra</p>
                                    </div>
                                    <div class="col text-center">
                                        <h5><strong class="menu_color_plato_desc_letra">Q50</strong></h5>
                                        <p class="menu_color_plato_desc_letra">2 Libras</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header menu_color_plato_nombre_fondo" role="tab">
                            <h5 class="mb-0">
                                <a class="menu_color_plato_nombre_fondo" data-toggle="collapse" aria-expanded="false" aria-controls="accordion-dummy .item-3" href="#accordion-dummy .item-3">
                                    <p class="menu_color_plato_nombre_letra">Nombre corto de platillo de restaurante con imágenes y precios múltiples<span class="menu_color_plato_nombre_letra" style="font-weight: bold;">Q50</span></p>
                                </a>
                            </h5>
                        </div>
                        <div class="collapse item-3" role="tabpanel" data-parent="#accordion-dummy">
                            <div class="card-body menu_color_plato_desc_fondo">
                                <div class="row no-gutters img-platillo">
                                    <div class="col px-0"><img class="img-fluid" src="https://mevouappcdn.s3.amazonaws.com/assets/img/pexels-christel-jensen-628776.jpg"></div>
                                </div>
                                <p class="card-text menu_color_plato_desc_letra">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                <div class="row no-gutters prices pb-3">
                                    <div class="col text-center">
                                        <h5><strong class="menu_color_plato_desc_letra">Q25</strong></h5>
                                        <p class="menu_color_plato_desc_letra">14 Ozn.</p>
                                    </div>
                                    <div class="col text-center">
                                        <h5><strong class="menu_color_plato_desc_letra">Q25</strong></h5>
                                        <p class="menu_color_plato_desc_letra">14 Ozn.</p>
                                    </div>
                                    <div class="col text-center">
                                        <h5><strong class="menu_color_plato_desc_letra">Q50</strong></h5>
                                        <p class="menu_color_plato_desc_letra">16 Ozn.</p>
                                    </div>
                                    <div class="col text-center">
                                        <h5><strong class="menu_color_plato_desc_letra">Q50</strong></h5>
                                        <p class="menu_color_plato_desc_letra">16 Ozn.</p>
                                    </div>
                                    <div class="col text-center">
                                        <h5><strong class="menu_color_plato_desc_letra">Q50</strong></h5>
                                        <p class="menu_color_plato_desc_letra">24 Ozn.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../layouts/dashboard/footer-open.ejs %>

<script>
    const idPropietario = "<%= user._id %>";
    const idMenu =  new URLSearchParams(window.location.search).get('id');
    var MenuAjax = Object({})
    const CatWithImg = `<div class="row pb-2">
        <div class="col-12">
            <div class="card cat-creado" categoria-id="<%%= id %>">
                <img class="card-img w-100 d-block" src="<%%= imagen %>">
                <div class="card-img-overlay">
                    <h4><%%= nombre %></h4>
                </div>
            </div>
        </div>
    </div>`
    const CatWithoutImg = `<div class="row pb-2">
        <div class="col-12">
            <div class="card cat-creado" categoria-id="<%%= id %>">
                <div class="card-img-overlay">
                    <h4>
                        <%%= nombre %>
                    </h4>
                </div>
            </div>
        </div>
    </div>`
    $.ajax({
        method: 'GET',
        url: `/api/v1/menus/${idMenu}`,
        success: function(menu) {
            console.log(menu)
            const size = new TextEncoder().encode(JSON.stringify(menu)).length
            const kiloBytes = size / 1024;
            const megaBytes = kiloBytes / 1024;
            console.log(`${size}B`)
            console.log(`${kiloBytes.toFixed(4)}KB`)
            console.log(`${megaBytes.toFixed(4)}MB`)
            MenuAjax = menu
            $('#menu_nombre').val(menu.nombre)
            $('#menu_descripcion').html(menu.descripcion)
            if (menu.logo != null) {
                $('#menu_logo_img').attr('src', menu.logo.location)
            }
            if (menu.imagen != null) {
                $('#menu_imagen_img').attr('src', menu.imagen.location)
            }

            $('#menu_shortname').val(menu.shortname)
            $('#menu_color_menu_fondo').val(menu.color_menu_fondo)
            $('#menu_color_menu_letra').val(menu.color_menu_letra)
            $('#menu_color_plato_nombre_letra').val(menu.color_plato_nombre_letra)
            $('#menu_color_plato_nombre_fondo').val(menu.color_plato_nombre_fondo)
            $('#menu_color_plato_desc_letra').val(menu.color_plato_desc_letra)
            $('#menu_color_plato_desc_fondo').val(menu.color_plato_desc_fondo)

            $('.menu_color_menu_fondo').css('background-color', `${menu.color_menu_fondo}`)
            $('.menu_color_menu_letra').css('color', `${menu.color_menu_letra}`)
            $('.menu_color_plato_nombre_letra').css('color', `${menu.color_plato_nombre_letra}`)
            $('.menu_color_plato_nombre_fondo').css('background-color', `${menu.color_plato_nombre_fondo}`)
            $('.menu_color_plato_desc_letra').css('color', `${menu.color_plato_desc_letra}`)
            $('.menu_color_plato_desc_fondo').css('background-color', `${menu.color_plato_desc_fondo}`)

            $('#menu_shortname_def').html(menu.shortname)
            const Categorias = menu.Categorias
            $('#cant_categorias').html(Categorias.length)

            for (let i = 0; i < Categorias.length; i++) {
                const Categoria = Categorias[i];
                if (Categoria.imagen) {
                    $('#listado_categorias').append(ejs.render(CatWithImg, {
                        nombre: Categoria.nombre,
                        imagen: imagen.location,
                        id: Categoria._id
                    }))
                } else {
                    $('#listado_categorias').append(ejs.render(CatWithoutImg, {
                        nombre: Categoria.nombre,
                        id: Categoria._id
                    }))
                }
            }
            $('.cat-creado').click(function(){
                const cart_id = $(this).attr('categoria-id')
                location.href = `/categorias-add-platillos?categoria=${cart_id}`
            })
            
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "2000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr["success"]('<b style="color:white">Menú Cargado con Éxito</b>')
        },
        error: function(a, b, c) {
            toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "10000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
            }
            toastr["error"](`<span style="color:white">Hubo un error al crear tu Menú<br>Intentalo de nuevo<br>${JSON.stringify(a, null, 2)}<br>${JSON.stringify(b, null, 2)}<br>${JSON.stringify(c, null, 2)}`)
        }
    })

    $('#menu_nombre').keyup( function (e) {
        const menu_nombre = $(this).val();
        MenuAjax.nombre = menu_nombre
    });
    $('#menu_nombre').change( function (e) {
        const menu_nombre = $(this).val();
        MenuAjax.nombre = menu_nombre
    });

    $('#menu_descripcion').keyup( function (e) {
        const menu_descripcion = $(this).val();
        MenuAjax.descripcion = menu_descripcion
    });
    $('#menu_descripcion').change( function (e) {
        const menu_descripcion = $(this).val();
        MenuAjax.descripcion = menu_descripcion
    });


    $('#menu_shortname').keyup( function (e) {
        const menu_shortname = $(this).val();
        MenuAjax.shortname = menu_shortname
        $('#menu_shortname_def').html(menu_shortname)
    });
    $('#menu_shortname').change( function (e) {
        const menu_shortname = $(this).val();
        MenuAjax.shortname = menu_shortname
        $('#menu_shortname_def').html(menu_shortname)
    });

    $('#menu_color_menu_fondo').change( function (e) {
        const menu_color_menu_fondo = $(this).val();
        MenuAjax.color_menu_fondo = menu_color_menu_fondo
        $('.menu_color_menu_fondo').css('background-color', `${menu_color_menu_fondo}`)
    });
    
    $('#menu_color_menu_letra').change( function (e) {
        const menu_color_menu_letra = $(this).val();
        console.log(menu_color_menu_letra)
        MenuAjax.color_menu_letra = menu_color_menu_letra
        $('.menu_color_menu_letra').css('color', `${menu_color_menu_letra}`)
    });
    
    $('#menu_color_plato_nombre_letra').change( function (e) {
        const menu_color_plato_nombre_letra = $(this).val();
        MenuAjax.menu_color_plato_nombre_letra = menu_color_plato_nombre_letra
        $('.menu_color_plato_nombre_letra').css('color', `${menu_color_plato_nombre_letra}`)
    });
    
    $('#menu_color_plato_nombre_fondo').change( function (e) {
        const menu_color_plato_nombre_fondo = $(this).val();
        MenuAjax.color_plato_nombre_fondo = menu_color_plato_nombre_fondo
        $('.menu_color_plato_nombre_fondo').css('background-color', `${menu_color_plato_nombre_fondo}`)
    });
    
    $('#menu_color_plato_desc_letra').change( function (e) {
        const menu_color_plato_desc_letra = $(this).val();
        MenuAjax.color_plato_desc_letra = menu_color_plato_desc_letra
        $('.menu_color_plato_desc_letra').css('color', `${menu_color_plato_desc_letra}`)
    });
    
    $('#menu_color_plato_desc_fondo').change( function (e) {
        const menu_color_plato_desc_fondo = $(this).val();
        MenuAjax.color_plato_desc_fondo = menu_color_plato_desc_fondo
        $('.menu_color_plato_desc_fondo').css('background-color', `${menu_color_plato_desc_fondo}`)
    });

    $('#menu_logo').change(function(){
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        toastr["info"]("Subiendo imagen del Logo.")
        var formData = new FormData();
        formData.append('archivo', document.getElementById('menu_logo').files[0]);
        const urlEnvio = `/api/v1/archivos?documento=menu&parametro=logo&id=${idMenu}`
        $.ajax({
            url: urlEnvio,
            type: 'POST',
            data: formData,
            processData: false,  // tell jQuery not to process the data
            contentType: false,  // tell jQuery not to set contentType
            enctype: 'multipart/form-data',
            success: function (data) {
                MenuAjax.logo = data
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                $('#menu_logo_img').attr('src', data.location)
                toastr["success"]("Logo subido con éxito.<br>No olvides guardar los cambios.")
                
            },
            error: function (a, b, c){
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr["error"]("Hubo un problema al subir la imagen.<br>Vuelve a intentarlo.")
                console.error(a, b, c)
            }
        });
    })
    
    $('#menu_imagen').change(function(){
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        toastr["info"]("Subiendo imagen del Logo.")
        var formData = new FormData();
        formData.append('archivo', document.getElementById('menu_imagen').files[0]);
        const urlEnvio = `/api/v1/archivos?documento=menu&parametro=imagen&id=${idMenu}`
        $.ajax({
            url: urlEnvio,
            type: 'POST',
            data: formData,
            processData: false,  // tell jQuery not to process the data
            contentType: false,  // tell jQuery not to set contentType
            enctype: 'multipart/form-data',
            success: function (data) {
                MenuAjax.imagen = data
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                $('#menu_imagen_img').attr('src', data.location)
                toastr["success"]("Imagen subida con éxito.<br>No olvides guardar los cambios.")
            },
            error: function (a, b, c){
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr["error"]("Hubo un problema al subir la imagen.<br>Vuelve a intentarlo.")
                console.error(a, b, c)
            }
        });
    })

    $('#guardar_menu').click(function (e) {
        $.ajax({
            method: 'PATCH',
            url: `/api/v1/menus/${idMenu}`,
            contentType: 'application/json',
            data: JSON.stringify(MenuAjax),
            success: function(menu) {
                console.log(menu)
                
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr["success"]("Menú actualizado con éxito.")
            },
            error: function(a, b, c) {
                console.log(a)
                var Errores = 'Hubo un error al guardar los cambios.<br>'
                if (a.responseJSON.codeName == 'DuplicateKey') {
                    Errores += `La URL Personalizada ya existe.<br><b style="color:white">TUS CAMBIOS NO SE HAN GUARDADO.</b>.`
                }
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "10000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr["error"](Errores)
            }
        })
    })

    $('#crear_categoria').click(function(){
        const Categoria = {
            Menu: idMenu,
            nombre: `Categoria ${ new Date().getTime() }` ,
            imagen: null
        }
        $.ajax({
            method: 'POST',
            url: `/api/v1/categorias`,
            contentType: 'application/json',
            data: JSON.stringify(Categoria),
            success: function(r) {
                console.log(r)

                toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
                }
                toastr["success"]("Categoría creada con éxito.<br>Redireccionando...")
                setTimeout(function(){
                    location.href = `/categorias-add-platillos?categoria=${r._id}`
                }, 1500)
            } ,
            error: function(a,b,c){
                console.log(a,b,c)
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "10000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr["error"]('Hubo un error al agregar la categoría.<br>Vuelve a Intentarlo.')
            },
        })
    })
</script>

<!-- Espacios para agregar Scripts, Modals,... -->

<% include ../layouts/dashboard/footer-close.ejs %>
