<% include ../layouts/dashboard/header-open.ejs %>

<!-- Espacios para Agregar CSS's y Scripts -->

<% include ../layouts/dashboard/header-close.ejs %>
<div class="row">
    <div class="col-12">
        <h3 class="text-dark mb-1">Blank Page</h3>
    </div>
</div>

<% include ../layouts/dashboard/footer-open.ejs %>

<!-- Espacios para agregar Scripts, Modals,... -->

<% include ../layouts/dashboard/footer-close.ejs %>
